<app-shop-header [showSearch]="false" [canGoBack]="true" [showCart]="false" [pageTitle]="title.getTitle()">
</app-shop-header>
<!-- <ion-header class="ion-no-border">
  <ion-toolbar fixed>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ORDER_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-grid class="ion-no-padding" style="padding-left: 15px !important; padding-right: 15px !important;">

    <!-- <empty-view *ngIf="isEmptyViewVisible" icon="alert-circle-outline" [text]="'EMPTY_DATA' | translate">
    </empty-view>

    <empty-view *ngIf="isErrorViewVisible" icon="alert-circle-outline" [text]="'ERROR_NETWORK' | translate">
    </empty-view> -->


    <ion-row class="ion-justify-content-center" *ngIf="isContentViewVisible">
      <ion-col size-xs="12" size-lg="8">

        <ion-row class="orderrow">
          <ion-col size-xs="12" size-lg="12">
            <app-order-box [order]="order"></app-order-box>
          </ion-col>
        </ion-row>

        <div>
          <ion-list lines="none">
            <!-- <ion-list-header>
              <div class="flex align-items-center">
                <h5 class="ion-no-margin">
                  {{ 'ORDER' | translate }} #{{ order?.number }}&nbsp;&nbsp;
                </h5>
                <ion-button class="ion-text-capitalize ion-no-margin" strong size="small" fill="solid" color="success"
                  [disabled]="!order?.isShippedOut()" (click)="onMarkAsReceived()">
                  {{ 'MARK_AS_RECEIVED' | translate }}
                </ion-button>
              </div>
            </ion-list-header> -->

            <!-- <ion-list class="ion-margin-top ion-no-padding">
              <div class="radius" *ngFor="let item of order?.items">
                <ion-item class="cart-item">
                  <ion-thumbnail slot="start" *ngIf="item.featuredImageThumb">
                    <img [src]="item.featuredImageThumb?.url()" />
                  </ion-thumbnail>
                  <ion-label class="ion-text-wrap">
                    <ion-text color="dark">
                      <p class="text-normal mb-8">{{ item.qty }} x {{ item.name }}</p>
                      <p *ngIf="item.variation">
                        <span class="bold">{{ 'VARIANT' | translate }}:</span> {{ item.variation.name }}
                      </p>
                    </ion-text>

                  </ion-label>

                  <div slot="end">
                    <p class="text-medium" *ngIf="item.hasOwnProperty('finalAmount'); else showOnlyAmount">
                      <span *ngIf="item.amount > item.finalAmount">
                        <ion-text color="medium">
                          <s class="text-small">
                            {{ item.amount | currencyGlobal }}
                          </s>
                        </ion-text>
                        <br />
                        <span>
                          {{ item.finalAmount | currencyGlobal }}
                        </span>
                      </span>
                      <span *ngIf="item.amount <= item.finalAmount">
                        <span>{{ item.finalAmount | currencyGlobal }}</span>
                      </span>
                    </p>

                    <ng-template #showOnlyAmount>
                      <p class="text-medium">
                        {{ item.amount | currencyGlobal }}
                      </p>
                    </ng-template>
                  </div>

                </ion-item>

                <ion-button class="ion-margin ion-text-capitalize" color="dark" size="small" strong
                  (click)="onPresentReviewAddModal(item)" [disabled]="!order?.isDelivered() || item.rating">
                  {{ 'REVIEW_THIS_ITEM' | translate }}
                </ion-button>
              </div>

              <div class="divider"></div>

              <ion-item>
                <ion-label>
                  <ion-text color="dark">
                    <p>{{ 'SUBTOTAL' | translate }}</p>
                  </ion-text>
                </ion-label>

                <div slot="end">
                  <ion-text color="dark">
                    <p class="text-medium">{{ order?.subtotal | currencyGlobal }}</p>
                  </ion-text>
                </div>
              </ion-item>

              <ion-item *ngIf="order?.coupon">
                <ion-label>
                  <ion-text color="dark">
                    <p>
                      {{ 'COUPON_DISCOUNT' | translate }}
                      ({{ order?.coupon?.name }})
                    </p>
                  </ion-text>
                </ion-label>

                <div slot="end">
                  <ion-text color="dark">
                    <p class="text-medium">
                      {{ -order?.coupon.amount | currencyGlobal }}
                    </p>
                  </ion-text>
                </div>
              </ion-item>

              <ion-item>
                <ion-label>
                  <ion-text color="dark">
                    <p>{{ 'SHIPPING_FEE' | translate }}</p>
                  </ion-text>
                </ion-label>

                <div slot="end">
                  <ion-text color="dark">
                    <p class="text-medium">{{ order?.shippingFee | currencyGlobal }}</p>
                  </ion-text>
                </div>
              </ion-item>

              <ion-item>
                <ion-label>
                  <ion-text color="dark">
                    <p>{{ 'TOTAL' | translate }}</p>
                  </ion-text>
                </ion-label>

                <div slot="end">
                  <ion-text color="dark">
                    <p class="text-medium">{{ order?.total | currencyGlobal }}</p>
                  </ion-text>
                </div>
              </ion-item>

            </ion-list> -->

            <!-- <ion-list-header class="ion-margin-vertical">
              <h5>{{ 'CONTACT_INFO' | translate }}</h5>
            </ion-list-header> -->

            <ion-item class="radius">
              <span class="bold righttxt" slot="start">{{'NAME' | translate}} :</span>
              <p slot="end" class="lefttxt">{{ order?.name }}</p>
            </ion-item>

            <!-- <ion-item class="radius">
              <span class="bold" slot="start">{{'EMAIL' | translate}} :</span>
              <p slot="end">{{ order?.contact.email }}</p>
            </ion-item> -->

            <ion-item class="radius">
              <span class="bold righttxt" slot="start">{{'CONTACT_NUMBER' | translate}} :</span>
              <p slot="end" class="lefttxt">{{ order?.contactNumber }}</p>
            </ion-item>

            <ion-item class="radius">
              <!-- <span class="bold righttxt" slot="start">{{'ADDRESS' | translate}} :</span> -->
              <span class="bold righttxt" slot="start">{{'ORNOTES' | translate}} :</span>
              <p slot="end" class="lefttxt">{{ order?.shipping?.address }}</p>
            </ion-item>

            <!-- <ion-item class="radius">
              <span class="bold righttxt" slot="start">{{'ZONE' | translate}} :</span>
              <p slot="end" class="lefttxt">{{ this.zone ? this.zone : "---" }}</p>
            </ion-item> -->

            <ion-item class="radius">
              <span class="bold righttxt" slot="start">{{'DELIVERY_TIME' | translate}} :</span>
              <p slot="end" class="lefttxt">{{ order.deliverytime ? order.deliverytime : "---" }}</p>
            </ion-item>

            <ion-item class="radius">
              <span class="bold righttxt" slot="start">{{'DAY' | translate}} :</span>
              <p slot="end" class="lefttxt">{{ order.day ? order.day : "---" }}</p>
            </ion-item>
            <!-- <ion-list-header class="ion-margin-vertical">
              <h5>{{ 'SHIPPING_ADDRESS' | translate }}</h5>
            </ion-list-header> -->

            <!-- <ion-list class="ion-no-padding">
              <ion-item class="radius">
                <ion-label>
                  <h2 class="bold">{{'NAME' | translate}} : {{ order?.shipping?.name }}</h2>
                  <p>
                    {{'ADDRESS' | translate}} : {{ order?.shipping?.address }}, <br>
                    {{'SUBZONE' | translate}} :{{ this.subzone ? this.subzone : "---" }}, <br> -->
            <!-- {{'ZONE' | translate}} :{{ this.zone ? this.zone : "---" }} <br>
                    {{'DELIVERY_TIME' | translate}} :{{ order.deliverytime ? order.deliverytime : "---" }} <br>
                  </p>
                </ion-label>
              </ion-item>
            </ion-list>  -->

            <ion-list-header class="ion-margin-vertical" *ngIf="order?.tracking">
              <h5 class="ion-no-margin">{{ 'TRACKING' | translate }}</h5>
            </ion-list-header>

            <ion-list class="ion-no-padding" *ngIf="order?.tracking">
              <ion-item>
                <ion-label>
                  <p>
                    <span class="bold">{{ 'TRACKING_NUMBER' | translate }}:</span>
                    {{ order?.tracking.number || '---' }}
                  </p>
                  <p>
                    <span class="bold">{{ 'CARRIER' | translate }}:</span>
                    {{ order?.tracking.carrier || '---' }}
                  </p>
                </ion-label>
              </ion-item>
            </ion-list>


            <div class="dividing-border"></div>
            <!-- <ion-list-header class="ion-margin-vertical">
              <h5>{{ 'PAYMENT' | translate }}</h5>
            </ion-list-header>

            <ion-list class="ion-no-padding">

              <ion-item class="radius" *ngIf="order?.paymentMethod === 'Cash'">
                <img src="./assets/imgs/cash.png" width="40" slot="start" />
                <ion-label>
                  <p>{{ 'CASH' | translate }}</p>
                </ion-label>
              </ion-item>

              <ion-item *ngIf="order?.card">
                <img src="./assets/imgs/{{formatBrand()}}.png" width="40" slot="start" />
                <ion-label>
                  <p *ngIf="order?.card">
                    &#8226;&#8226;&#8226;&#8226; {{ order?.card.last4 }}
                  </p>
                </ion-label>
              </ion-item>

            </ion-list> -->


            <ion-list class="ion-no-padding">
              <ion-item class="radius">
                <span class="bold righttxt" slot="start">{{'SUBTOTAL' | translate}} :</span>
                <p slot="end" class="lefttxt">{{ order?.subtotal | currencyGlobal }}</p>
              </ion-item>

              <ion-item class="radius">
                <span class="bold righttxt" slot="start">{{'SHIPPING_FEE' | translate}} :</span>
                <p slot="end" class="lefttxt">{{ order?.shippingFee | currencyGlobal }}</p>
              </ion-item>

              <ion-item class="radius">
                <span class="bold righttxt" slot="start">{{'DISCOUNT' | translate}} :</span>
                <p slot="end" class="lefttxt">{{ order.coupon ? order.coupon.amount : "---" }}</p>
              </ion-item>

              <ion-item class="radius">
                <span class="bold righttxt" slot="start">{{'TOTAL' | translate}} :</span>
                <p slot="end" class="lefttxttotal">{{ order.total | currencyGlobal }}</p>
              </ion-item>
            </ion-list>

            <div class="dividing-border"></div>

          </ion-list>

        </div>
      </ion-col>

    <div class="ion-text-center">
      <h5>{{ 'ORDER_DETAIL' | translate }}</h5>
    </div>

    <ion-row>
      <ion-col size-xs="12" size-lg="8" class="ion-padding-bottom ion-padding-top" *ngIf="items">

        <div class="regular-item-wrapper">
          <ion-text color="success">
            <p class="wrapper-label">
              {{ 'REGULAR_ITEMS' | translate }}
            </p>
          </ion-text>
          <item-wrapper [items]="items" [customObservable]="loadAndScroll" [isBackgroundWhite]="false"
            [isOrderDetail]="true">
          </item-wrapper>
        </div>

      </ion-col>


      <div class="ion-padding-bottom" *ngIf="comboItems">

        <ion-col size-xs="12" size-lg="8" *ngFor="let item of comboItems | keyvalue">
          <div class="ion-padding-bottom">
            <div class="regular-item-wrapper">
              <ion-text color="success">
                <p class="wrapper-label">
                  {{item.key}}
                </p>
              </ion-text>
              <item-wrapper [items]="item.value" [customObservable]="loadAndScroll" [isBackgroundWhite]="false"
                [isOrderDetail]="true">
              </item-wrapper>
            </div>
          </div>
        </ion-col>

      </div>

    </ion-row>
    </ion-row>

    <div *ngIf="isLoadingViewVisible">
      <ion-row class="ion-margin-vertical ion-justify-content-center">
        <ion-col size-xs="12" size-lg="10">
          <div class="bg-light ion-padding">
            <ngx-skeleton-loader count="5" [theme]="{ 'border-radius': '0', height: '50px', 'margin-bottom': '0' }">
            </ngx-skeleton-loader>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-vertical ion-justify-content-center">
        <ion-col size-xs="12" size-lg="10">
          <div class="bg-light ion-padding">
            <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '50px', 'margin-bottom': '0' }">
            </ngx-skeleton-loader>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-vertical ion-justify-content-center">
        <ion-col size-xs="12" size-lg="10">
          <div class="bg-light ion-padding">
            <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '50px', 'margin-bottom': '0' }">
            </ngx-skeleton-loader>
          </div>
        </ion-col>
      </ion-row>
    </div>

  </ion-grid>
</ion-content>