ion-content {
  --background: var(--ion-color-light);
}

ion-grid {
  background: #fff;
}

p {
  margin: 0;
  color: #000000;
}

.cart-item {
  --min-height: 120px;

  ion-thumbnail {
    width: 100px;
    height: 100px;
  }
}

.regular-item-wrapper {
  padding: 20px 5px 21px 5px;
  // background: #F2F2F2 0% 0% no-repeat padding-box;
  border: 1px solid #E2E2E2;
  border-radius: 10px;
  opacity: 1;
}

.dividing-border {
  margin: 12px 0 0 0;
  padding: 0;
  position: relative;
  width: 100%;
  border-bottom: 8px solid var(--ion-color-secondary);
}

.lefttxt {
  font-size: 14px !important;
  font-weight: bold !important;
  color: black !important;
}


.lefttxttotal {
  font-size: 18px !important;
  font-weight: bold !important;
  color: #d64356 !important;
}

.righttxt {
  font-size: 14px !important;
    font-weight: 300 !important;
    color: grey !important;
}

.orderrow {
  padding-left : 15px;
  padding-right: 15px;
}