<ion-grid class="pb-0 pt-0 ion-no-padding">
  <ion-row class="justify-content-center">
    <ion-col size="4" class="ion-align-self-center ion-no-padding ion-no-margin">
      <ion-button class="button-outer button-quantity quantity-button ion-no-padding" fill="clear"
        (click)="decrementQuantity(); $event.stopPropagation()" [disabled]="disabled || qty === 0 ">
        <ion-icon *ngIf="!isShopItem" src="../../../assets/Haseed/CartDecrease.svg"></ion-icon>
        <ion-icon *ngIf="isShopItem" src="../../../assets/Haseed/ItemSingleDecrease.svg"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-center ion-no-padding ion-no-margin">
      <ion-button size="small" fill="clear" color="medium" mode="ios" [disabled]="disabled"
        class="label-quantity ion-no-padding ion-no-margin qtylblcolor">
        {{qty}}
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-align-self-center ion-no-padding ion-no-margin">

      <ion-button class="button-outer button-quantity quantity-button ion-no-padding" fill="clear"
        (click)="incrementQuantity(); $event.stopPropagation()" [disabled]="disabled">

        <ion-icon *ngIf="!isShopItem" src="../../../assets/Haseed/CartIncrease.svg"></ion-icon>
        <ion-icon *ngIf="isShopItem" src="../../../assets/Haseed/ItemSingleIncrease.svg"></ion-icon>

      </ion-button>

    </ion-col>

  </ion-row>
</ion-grid>