.button-quantity {
    width: 22px;
    height: 27px;
}

.label-quantity {
    font-size: 16px;
    font-weight: bold;
}

.qtylblcolor {
    color: #17d35d ;
    --ion-color-base: #17d35d !important;
}