<app-shop-header [showSearch]="true" [canGoBack]="true" [showCart]="true" [pageTitle]="title.getTitle()">
</app-shop-header>

<ion-toolbar fixed [hidden]="showSearch">
  <ion-searchbar mode="ios" color="secondary" [placeholder]="'SEARCH_PLACEHOLDER' | translate"
    (ionInput)="isComboItemList ? onSearchComboItem($event) : onSearch($event)" (ionClear)="onClearSearch()">
  </ion-searchbar>
  <!-- <ion-buttons slot="end">
    <ion-button color="dark" size="small" class="ion-text-uppercase" (click)="onPresentFilterModal()">
      <ion-icon slot="start" name="funnel"></ion-icon>
      <span class="text-small">{{ 'REFINE' | translate }}</span>
    </ion-button>
  </ion-buttons> -->
</ion-toolbar>

<ion-content #container scrollEvents="true">
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}"
      refreshingText="{{ 'REFRESHING' | translate }}"></ion-refresher-content>
  </ion-refresher>
  <!-- 
  <div slot="fixed" style="left: 16px; right: 16px">
    <ion-grid class="relative" fixed *ngIf="suggestions.length">
      <ion-list lines="none" class="ion-no-margin" class="shadow autocomplete" *ngIf="suggestions.length"
        [@staggerIn]="suggestions.length">
        <ion-item class="hover" button detail="false" style="--min-height: 70px"
          *ngFor="let suggestion of suggestions;trackBy:trackByFn" (click)="this.suggestions = [];"
          [routerLink]="['./' + suggestion.slug]">
          <ion-label>
            <ion-text color="dark">
              <span class="link bold text-medium"> {{ suggestion.name }} </span>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-grid>
  </div> -->

  <ion-grid fixed>
    <empty-view *ngIf="isErrorViewVisible" icon="alert-circle-outline" [text]="'ERROR_DATA' | translate">
    </empty-view>

    <empty-view *ngIf="isEmptyViewVisible" image="./assets/imgs/undraw_search.svg" imageWidth="100"
      [text]="'EMPTY_DATA' | translate">
    </empty-view>

    <!-- <div class="custom-select ion-margin-vertical" *ngIf="isContentViewVisible">
      <ion-item lines="none">
        <ion-label>
          <ion-text class="bold" color="medium">
            {{ 'SORT_BY' | translate }}
          </ion-text>
        </ion-label>

        <ion-select [(ngModel)]="selectedSortOption" (ionChange)="onSortOptionTouched($event)"
          [compareWith]="compareSortOption" [interfaceOptions]="customPopoverOptions" interface="popover">
          <ion-select-option [value]="option" *ngFor="let option of sortOptions">
            {{ (option.sortByField + '_' + option.sortBy) | uppercase |
            translate }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div> -->

    <ion-list [@staggerIn]="items.length" *ngIf="isContentViewVisible">
      <ion-row *ngIf="!isComboItemList">
        <ion-col size-xs="4" size-sm="4" size-md="4" size-lg="3" *ngFor="let item of items;trackBy:trackByFn">
          <app-shop-item [item]="item" [customObservable]="loadAndScroll" (click)="onItemTouched(item)">
          </app-shop-item>
        </ion-col>
      </ion-row>


      <ion-row *ngIf="isComboItemList">
        <ion-col size-xs="4" size-sm="4" size-md="4" size-lg="3" *ngFor="let item of items;trackBy:trackByFn">
          <combo-item-box [item]="item" [customObservable]="loadAndScroll"
            [routerLink]="['1/home/combo-items/' + item.slug]">
          </combo-item-box>
        </ion-col>
      </ion-row>


      <ion-infinite-scroll (ionInfinite)="onLoadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>

    <ion-row *ngIf="isLoadingViewVisible" class="ion-justify-content-center">
      <ion-col class="ion-text-center" size-xs="6" size-sm="4" size-md="4" size-lg="3"
        *ngFor="let item of skeletonArray">
        <ngx-skeleton-loader count="1" appearance="circle"
          [theme]="{ width: '100%', height: '240px', 'border-radius': '0' }">
        </ngx-skeleton-loader>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>