ion-item {
  --border-radius: 4px;
}

.profileform {
  padding-left: 12px;
  padding-right: 12px;

}


.cart-page-input {
  background: #f0f1f5 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  height: 40px !important;
  line-height: 20px;
}

.cart-page-input-label {
  text-align: right;
  font-weight: 300;
  font-size: 14px !important;
  color: #b7b7b7;
}