<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'EDIT_PROFILE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="form" (ngSubmit)="onSubmit()" #profileForm="ngForm" novalidate class="profileform">
    <!-- new form style -->

        <ion-item-group>
          <ion-label class="ion-text-capitalize cart-page-input-label">{{ 'NAME' | translate }}</ion-label>
        <ion-list class="cart-page-input ion-no-padding">
          <ion-input class="ion-text-center" type="text" formControlName="name" placeholder="{{ 'PRONAME' | translate }}" style="font-size: 14px;"></ion-input>
        </ion-list>
      </ion-item-group>


      <div *ngIf="!user?.attributes.authData">
            <ion-item-group>
              <ion-label class="ion-text-capitalize cart-page-input-label">{{ 'USERNAME' | translate }}</ion-label>
            <ion-list class="cart-page-input ion-no-padding">
              <ion-input class="ion-text-center" type="text" formControlName="username" style="font-size: 14px;"></ion-input>
            </ion-list>
          </ion-item-group>
      </div>

      <ion-label position="stacked" color="medium" style="margin-top: 15px;">
        <span>{{ 'UPLOAD_PICTURE' | translate }}</span>
      </ion-label>
  
      <div class="ion-margin-vertical">
        <app-upload-box (onFileUploaded)="onFileUploaded($event)">
        </app-upload-box>
      </div>
      

      <!-- new form style -->


    <!-- <ion-label position="stacked" color="medium">
      <span>{{ 'NAME' | translate }}</span>
    </ion-label>
    <ion-item class="ion-margin-vertical" lines="none" color="light">
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item> -->

    <!-- <div *ngIf="!user?.attributes.authData">
      <ion-label position="stacked" color="medium">
        <span>{{ 'USERNAME' | translate }}</span>
      </ion-label>
      <ion-item class="ion-margin-vertical" lines="none" color="light">
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
    </div> -->

    <!-- <ion-label position="stacked" color="medium">
      <span>{{ 'EMAIL' | translate }}</span>
    </ion-label>
    <ion-item class="ion-margin-vertical" lines="none" color="light">
      <ion-input type="email" formControlName="email" (keyup.enter)="profileForm.ngSubmit.emit()">
      </ion-input>
    </ion-item> -->

    <!-- <ion-label position="stacked" color="medium">
      <span>{{ 'UPLOAD_PICTURE' | translate }}</span>
    </ion-label>

    <div class="ion-margin-vertical">
      <app-upload-box (onFileUploaded)="onFileUploaded($event)">
      </app-upload-box>
    </div> -->

    <div>
      <ion-button strong type="submit" shape="round" color="primary" [disabled]="isLoadingViewVisible">
        <ion-spinner *ngIf="isLoadingViewVisible"></ion-spinner>
        <span *ngIf="!isLoadingViewVisible">{{ 'SAVE' | translate }}</span>
      </ion-button>
    </div>

  </form>
</ion-content>