<app-shop-header [canGoBack]="true" [pageTitle]="title.getTitle()"></app-shop-header>

<ion-content #container scrollEvents="true">

  <ion-refresher slot="fixed" (ionRefresh)="loadData()">
    <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}"
      refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid class="ion-no-padding" fixed>

    <empty-view *ngIf="isErrorViewVisible" icon="alert-circle-outline" [text]="'ERROR_DATA' | translate">
    </empty-view>

    <empty-view *ngIf="isEmptyViewVisible" icon="alert-circle-outline" [text]="'SORRY_NO_NOTIFICATIONS' | translate">
    </empty-view>

    <div *ngIf="isContentViewVisible">

      <ion-row class="ion-align-items-start">
        <ion-col size="12" *ngFor="let notification of notifications">
          <ion-item class="ion-no-margin" (click)="goToNotificationPage(notification)">
            <div slot="start" class="ion-no-margin" style="padding: 10px 10px 18px 15px; ">
              <ion-icon class="ion-no-margin notyicon" src="assets/Haseed/NotificationListIcon.svg">
              </ion-icon>
            </div>
            <div>
              <ion-text>
                <h5 class="ion-no-padding ion-no-margin">{{notification.heading}}</h5>
                <p class="notification-date">{{notification.attributes.createdAt | date}}</p>
                <p class="ion-no-padding ion-no-margin notymsg">{{notification.message}}</p>
              </ion-text>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

    </div>

  </ion-grid>

</ion-content>