.notification-date {
    letter-spacing: 0px;
    color: #272727;
    font-size: 13px;
    opacity: 0.46;
    margin: 0;
}

ion-item {
    --padding-start: 5px;
    --padding-end: 19px;
    --padding-top: 11px;
}


.notyicon {
    font-size: 50px !important;
    position: relative;
    top: -7px !important;
}
.notymsg {
    color: #777777 !important;
}