:host {

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;

  .container {

    ion-icon {
      font-size: 64px;
    }

    img {
      width: 100%;
      height: 77px;
    }

    ion-button {
      width: 202px;
      height: 40px;

      ion-text {
        font-size: 0.9rem;
      }
    }
  }
}