<div class="container">
  <ion-icon [name]="icon" *ngIf="!image"></ion-icon>
  <img [src]="image" *ngIf="image" [width]="imageWidth" />
  <ion-text [color]="isFav ? 'medium' : 'dark'">
    <h3 class="bold">{{heading}}</h3>
  </ion-text>
  <ion-text color="medium">
    <p>{{ text }}</p>
  </ion-text>
  
  <ion-button *ngIf="showButton" shape="round" size="large" (click)="goToHome()">
    <ion-text color="light" class="bold">
      {{'SHOP_NOW' | translate}}
    </ion-text>
  </ion-button>
</div>
