// .bgcont {
//     background-image: url('/assets/Haseed/splash/LogoSidebar.png') ;
//     background-size: cover;

// }

.sidemenulogo {
    padding-top: 70px;
    height: auto;
    display: block;
    margin: 0 auto !important;
}

.header-md::after  {
    position: relative !important;
}