<ion-header no-border>
    <div>
      <img src="assets/Haseed/splash/LogoSidebar.png" class="sidemenulogo">
    </div>
</ion-header>
<ion-row style="height: 30px;">

</ion-row>

<ion-list>
  <ion-menu-toggle>
    
    <ion-item (click)="openTab('account')">
      <ion-icon color="primary" src="assets/Haseed/TabbarAccount.svg" style="margin: 15px;">&nbsp;</ion-icon>
      <ion-label>{{ 'ACCOUNT' | translate }}</ion-label>
    </ion-item>

    <ion-item (click)="openTab('home')">
      <ion-icon color="primary" src="assets/Haseed/TabbarHome.svg" style="margin: 15px;">&nbsp;</ion-icon>
      <ion-label>{{ 'HOME' | translate }}</ion-label>
    </ion-item>

    <ion-item (click)="openTab('cart')">
      <ion-icon color="primary" src="assets/Haseed/TabbarCart.svg" style="margin: 15px;">&nbsp;</ion-icon>
      <ion-label>{{ 'CART' | translate }}</ion-label>
    </ion-item>

    <ion-item (click)="openTab('orders')">
      <ion-icon color="primary" src="assets/Haseed/TabbarOrders.svg" style="margin: 15px;">&nbsp;</ion-icon>
      <ion-label>{{ 'MY_ORDERS' | translate }}</ion-label>
    </ion-item>



    <ion-item (click)="openTab('browse')">
      <ion-icon color="primary" src="assets/Haseed/TabbarCategories.svg" style="margin: 15px;">&nbsp;</ion-icon>
      <ion-label>{{ 'CATEGORIES' | translate }}</ion-label>
    </ion-item>
  </ion-menu-toggle>

</ion-list>