<ion-card class="full-width no-shadow combo-item-box ion-no-margin">

  <div [ngStyle]="{'background-image': 'url(' + item.featuredImageThumb?.url() + ')'}" class="image-container ion-no-padding">
    <!-- <ion-img src="./assets/imgs/placeholder.png" [src]="item.featuredImageThumb?.url()"></ion-img> -->
  </div>

  <ion-card-content class="ion-text-start">

    <ion-text color="medium" class="ion-no-margin ion-no-padding">
      <p class="text-medium combo-name">{{ item.name }}</p>
    </ion-text>

    <ion-text color="dark" class="ion-no-margin ion-no-padding">
      <p class="text-small combo-length" style="direction:rtl !important; color: #d64356 !important;">{{ item.items.length }} {{"CONTENT" | translate}} </p>
    </ion-text>

  </ion-card-content>
</ion-card>
