ion-card {
  ion-card-content {
    padding: unset;
  }

  .image-container {
    position: relative;

    // ion-img {
      width: 100%;
      height: 100px;
      border-radius: 15px;
      background-color: #f1f1f1;
      background-size: cover;
      // object-fit: cover;
    // }
    
    span {
      background: #ccc;
      padding: 3px;
      color: #333;
      font-size: 12px;
      border-radius: 2px;
      position: absolute;
      bottom: 10px;
      left: 16px;
    }
  }
}

.combo-item-box {
  padding: 5px;

  .combo-name {
    text-transform: uppercase;
  }

  .combo-length {
    font-weight: bold;
    letter-spacing: 0px;
    color: #3c4047;
    opacity: 1;
    font-size: 0.65rem !important;
  }
}
