ion-content {
    --background: var(--ion-color-light);
}

ion-grid {
    background: #fff;
}

.regular-item-wrapper {
    padding: 10px 10px 10px 10px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 12px;
    opacity: 1;
    ion-item {
        --background: #F2F2F2;
    }
}

.float-left {
    float: left;
}

ion-item {
    ion-thumbnail {
        width: 88px;
        height: 67px;
        margin: 0;
    }
}

.price-box {
    p {
        font-size: 20px;
        .dollar {
            font-size: 14px;
        }
    }
}

.cart-price-box {
    p {
        
        margin: 0;
        font-size: 20px;
        .dollar {
            font-size: 14px;
        }
    }
    span {
        line-height: 10px;
        font-size: 10px;
    }
}

.orange-button-checkout {
    background: linear-gradient(to right, #e47d17, #de3d5b);
    border: 1px solid transparent;
}

ion-button.remove-item-btn {
    --background: #565656;
    --padding-start: 2px !important;
    --padding-end: 2px !important;
}

.cart-total {
    color: #d64356 !important;
    direction: rtl !important;
    text-align: right !important;
    height: 80px;
    margin-left: 10%;
    >span {
        font-size: 15px;
        opacity: 0.5;
    }
    p {
        margin: 0;
        padding: 0;
        font-size: 20px;
        line-height: 20px;
        font-weight: bold;
        span {
            font-size: 15px;
        }
    }
}

.btn-checkout {
    width: 95%;
    background: #17D35D 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
}

p.total-products {
    padding-right: 15px;
    margin: 0;
}

.item-circle:not(.loader) {
    border-radius: 18px;
    display: flex;
    align-items: center;
    width: 73px;
    height: 73px;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 991px) {
    ion-grid,
    ion-grid>ion-row>ion-col {
        padding: 6px !important;
    }
}

.cart-item-label {
    left: 4%;
    position: relative;
    width: 30%;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 10px;
    margin-top: 10px;
}

.item-divider {
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    position: relative;
    width: 15%;
    border-bottom: 3px solid #d4d4d4;
    margin-bottom: 10px;
    margin-top: 10px;
}

.wrapper-label {
    text-align: right;
    font: normal normal bold 14px/18px Cairo;
    letter-spacing: 0px;
    color: #59795F;
    opacity: 1;
    margin: 0;
}