<!-- <ion-header class="ion-no-border">
  <ion-toolbar fixed>
    <div slot="start">
      <div class="logo">
        <img src="./assets/imgs/icon.png" />
        <h2>{{ 'APP_NAME' | translate }}</h2>
      </div>
    </div>
  </ion-toolbar>
</ion-header> -->
<app-shop-header [showMenu]="true" [pageTitle]="title.getTitle()">
</app-shop-header>

<ion-content #container scrollEvents="true">

  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
    <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}"
      refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <empty-view *ngIf="isErrorViewVisible" icon="alert" [text]="'ERROR_DATA' | translate">
  </empty-view>

  <empty-view *ngIf="isEmptyViewVisible" image="./assets/Haseed/CartEmpty.svg" [showButton]="true"
    [heading]="'CART_EMPTY_HEADING' | translate" [text]="'CART_EMPTY' | translate">
  </empty-view>

  <ion-grid fixed class="ion-no-padding">

    <ion-row class="ion-justify-content-center">
      <ion-col>

        <div *ngIf="isContentViewVisible">
          <ion-row>

            <div class="ion-padding-bottom" *ngIf="items.length > 0">
              <ion-col size-xs="12" size-lg="8" class="ion-padding-bottom">

                <div class="regular-item-wrapper">
                  <ion-text color="success">
                    <p class="wrapper-label">
                      {{"REGULAR_ITEMS" | translate}}
                    </p>
                  </ion-text>
                  <item-wrapper [items]="items" [customObservable]="loadAndScroll" [isBackgroundWhite]="true"
                    (itemRemoved)="onRemoveItem($event)" (qtyDecrease)=" decrementQuantity($event)"
                    (qtyIncrease)="incrementQuantity($event)">
                  </item-wrapper>
                </div>

              </ion-col>
            </div>


            <div class="ion-padding-bottom" *ngIf="comboItems">

              <ion-col size-xs="12" size-lg="8" *ngFor="let item of comboItems | keyvalue">
                <div class="ion-padding-bottom">
                  <div class="regular-item-wrapper">
                    <ion-button slot="start" size="small" class="ion-no-padding ion-no-margin float-left" fill="clear"
                      mode="ios" (click)="onDeleteComboItem(item); $event.stopPropagation()">
                      <ion-icon class=" ion-no-margin" src="assets/Haseed/CartDelete.svg" style="font-size: 21px;">
                      </ion-icon>
                    </ion-button>
                    <ion-text slot="end" color="success">
                      <p class="wrapper-label">
                        {{item.key}}
                      </p>
                    </ion-text>
                    <item-wrapper [items]="item.value" [customObservable]="loadAndScroll" [isBackgroundWhite]="true"
                      (itemRemoved)="onRemoveItem($event)" (qtyDecrease)="decrementQuantity($event)"
                      (qtyIncrease)="incrementQuantity($event)">
                    </item-wrapper>
                  </div>
                </div>
              </ion-col>

            </div>

          </ion-row>

        </div>

      </ion-col>

    </ion-row>

    <ion-row margin *ngIf="isLoadingViewVisible">
      <ion-col size-xs="12" size-lg="8">
        <ngx-skeleton-loader count="6"
          [theme]="{ 'border-radius': '35', height: '120px', 'background-color': '#F3F3F3' }">
        </ngx-skeleton-loader>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
<ion-footer *ngIf="!isErrorViewVisible && !isLoadingViewVisible && cart?.items.length > 0" style="direction: ltr !important; height: 78px;">
  <ion-grid>
    <ion-row align-items-center class="checkout-footer-row">
      <ion-col>
        <ion-button shape="round" size="large" class="btn-checkout float-right text-large" color="primary"
          (click)="goToCheckout()">
          <ion-text style="color: white; font-weight: 900; font-size: 16px;">{{ 'CHECKOUT' | translate }}</ion-text>
        </ion-button>
      </ion-col>
      <ion-col class="cart-total-col" style="text-align: right; padding-right: 12px !important;">
        <div class="cart-total" color="light">
          <span style="color: #444444 !important;">{{ 'TOTAL' | translate }}</span>
          <p>
          <p>{{ subtotal | currencyGlobal }}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

<!-- <ion-list class="ion-no-padding" style="margin-top: 11px;border-radius: 15px;"> -->
<!-- <ion-text>
              <p class="ion-text-right total-products">
                {{cart?.items.length}} {{ 'PRODUCTS' | translate }}
              </p>
            </ion-text> -->
<!-- <ion-item lines="none" (click)="onItemTouched(item)" *ngFor="let item of cart?.items;let last = last">
              <ion-thumbnail slot="start">
                <div class="ac-item item-circle" defaultImage="./assets/imgs/placeholder.png" [offset]="300"
                  [lazyLoad]="item.featuredImageThumb?.url()" [customObservable]="loadAndScroll"></div>

              </ion-thumbnail>

              <ion-label class="text-wrap" style="margin-bottom: 0;">
                <ion-row>
                  <ion-col class="ion-no-margin ion-no-padding" size-xs="6" size-md="9">
                    <ion-text class="float-left">
                      <p class="bold text-medium">{{ item.name }}</p>
                      <div class="cart-item-label"></div>
                    </ion-text>
                  </ion-col>
                  <ion-col size-xs="6" class="ion-text-end ion-no-padding">
                    <ion-button fill="clear" color="dark" (click)="decrementQuantity(item); $event.stopPropagation()">
                      <ion-icon name="close-circle" slot="icon-only">
                      </ion-icon>
                    </ion-button>

                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-text>
                      <p class="light">
                        {{'PRICE' | translate}}
                      </p>
                    </ion-text>
                    <p class="text-small" *ngIf="item?.salePrice">
                      <span class="ir-price bold">{{ item.salePrice | currencyGlobal }}</span>
                    </p>
                    <p class="text-small bold" *ngIf="!item?.salePrice">
                      <span class="ir-price bold">{{ item.price | currencyGlobal}}</span>
                    </p>
                  </ion-col>
                  <ion-col size="6">
                    <app-item-qty [qty]="item.qty" (qtyIncrease)="incrementQuantity(item)"
                      (qtyDecrease)="decrementQuantity(item)"></app-item-qty>
                  </ion-col>
                </ion-row>
              </ion-label>

              <div class="item-divider"></div>
            </ion-item>

          </ion-list> -->