<app-shop-header [pageTitle]="title.getTitle()" [canGoBack]="true" (onLike)="onLike()" [isLiked]="isLiked"
  [showCart]="true" [showLike]="true"></app-shop-header>

<ion-content #container scrollEvents="true">

  <!-- <web-social-share (closed)="webSocialShare.onClosed()" [show]="webSocialShare.show" [share]="webSocialShare.share">
    <ion-icon class="block" name="logo-facebook" slot="facebook"
      style="color:var(--ion-color-fb);width:36px;height:36px;">
    </ion-icon>
    <ion-icon class="block" name="logo-twitter" slot="twitter"
      style="color:var(--ion-color-twitter);width:36px;height:36px;">
    </ion-icon>
    <ion-icon class="block" name="logo-whatsapp" slot="whatsapp"
      style="color:var(--ion-color-whatsapp);width:36px;height:36px;">
    </ion-icon>
    <ion-icon class="block" name="copy-outline" slot="copy"
      style="color: var(--ion-color-medium);width:36px;height:36px;">
    </ion-icon>
  </web-social-share> -->

  <ion-grid fixed class="ion-no-padding">

    <empty-view *ngIf="isErrorViewVisible" icon="alert-circle-outline" [text]="'ERROR_DATA' | translate">
    </empty-view>

    <empty-view *ngIf="isEmptyViewVisible" icon="alert-circle-outline" [text]="'EMPTY_DATA' | translate">
    </empty-view>

    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-lg="10">

        <div *ngIf="isLoadingViewVisible">

          <ion-row>
            <ion-col size-xs="12" size-lg="6">
              <ngx-skeleton-loader count="1"
                [theme]="{ 'border-radius': '0', margin: '0 0 16px', height: '250px', width: '100%' }">
              </ngx-skeleton-loader>
            </ion-col>
            <ion-col size-xs="12" size-lg="6">
              <ngx-skeleton-loader count="4" [theme]="{ 'border-radius': '0', height: '10px' }">
              </ngx-skeleton-loader>
            </ion-col>
          </ion-row>

          <ion-row class="bg-light ion-margin-vertical">
            <ion-col>
              <div class="ion-padding">
                <ngx-skeleton-loader count="16" [theme]="{ 'border-radius': '0', height: '10px' }">
                </ngx-skeleton-loader>
              </div>
            </ion-col>
          </ion-row>

        </div>

        <div *ngIf="isContentViewVisible">

          <ion-row>
            <ion-col size-xs="12" size-lg="6">
              <!-- Slide List -->
              <div class="border-light">
                <ion-slides class="main" #slides pager gallerize="false" selector=".bg-img"
                  (ionSlidesDidLoad)="onSlidesDidLoad($event)" (ionSlideWillChange)="onSlidesWillChange($event)">
                  <ion-slide>
                    <div class="slide bg-img" [attr.imageSrc]="comboItem.featuredImage.url()"
                      [attr.thumbSrc]="comboItem.featuredImage.url()" [lazyLoad]="comboItem.featuredImage.url()"
                      [customObservable]="slidesObservable" defaultImage="assets/imgs/placeholderlight.gif">
                    </div>
                  </ion-slide>
                </ion-slides>
              </div>

            </ion-col>
          </ion-row>

          <!-- <ion-row class="ion-padding-start ion-padding-end">
            <ion-col size-xs="12" size-lg="6" class="item-text-box ion-no-padding">
              <p class="item-combo-label ion-no-margin">{{ "COMBO_ITEMS" | translate }}</p>
              <h4 class="item-name">{{ comboItem?.name }}</h4>
              <div class="name-bottom-border"></div>
              <hr>
              <ion-text color="primary" class="combo-item-price" *ngIf="comboItemPrice">
                {{ comboItemPrice | currencyGlobal }}
              </ion-text>
            </ion-col>

          </ion-row> -->

          <div class="dividing-border"></div>

          <ion-row>
            <ion-col size=12>
              <div class="combo-item-wrapper">

                <ion-item lines="none" class="ion-no-margin">
                  <ion-text color="medium" slot="start" class="ion-no-margin">
                    {{ 'CONTENT' | translate }} {{comboItems.length}}
                  </ion-text>
                  <ion-text color="success" slot="end" class="ion-no-margin">
                    {{'CHOSEN_ITEMS' | translate}}
                  </ion-text>
                </ion-item>


                <item-wrapper [items]="comboItems" [customObservable]="loadAndScroll"
                  (itemRemoved)="onRemoveItem($event)" (qtyDecrease)="decrementComboItemQuantity($event)"
                  (qtyIncrease)="incrementComboItemQuantity($event)">
                </item-wrapper>
              </div>
            </ion-col>
          </ion-row>

          <div class="more-items-div" style="padding-top: 5px;">
            <ion-text>
              <p class="more-items-label">
                {{'SUGGEST_ITEMS' | translate}}
                
              </p>
            </ion-text>
            <ion-row class="scrollable" style="padding-right: 5px;">
              <ion-col size-xs="4" size-sm="4" size-md="3" *ngFor="let featuredItem of featuredComboItems"
                [hidden]="featuredItem.objectId === comboItem.objectId">
                <div class="featured-item-container">
                  <combo-item-box [item]="featuredItem" [customObservable]="loadAndScroll"
                    (click)="goToComboItemPage(featuredItem.slug)">
                  </combo-item-box>
                </div>
              </ion-col>
            </ion-row>
          </div>

        </div>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer>
  <ion-grid class="ion-no-padding" style="padding: 5px;">
    <ion-row class="ion-no-padding">
      <ion-col size="7">
        <div class="cart-button-container ion-padding-horizontal">
          <ion-button class="cart-button ion-text-uppercase" strong expand="block" shape="round" color="primary"
            [disabled]="isAddingToCart || isComboInCart" (click)="onAddToCart()">
            <ion-spinner color="light" *ngIf="isAddingToCart"></ion-spinner>
            <ion-text color="light" *ngIf="!isAddingToCart">{{ 'ADD_TO_CART' | translate }}</ion-text>
          </ion-button>
        </div>
      </ion-col>

      <ion-col size="5">
        <div class="ion-text-center" >
          <ion-text style="    
          text-align: center;
          font: normal normal bold 1.25rem Cairo;
          letter-spacing: 0px;
          color: #d64356;">
            {{comboItemPrice | currencyGlobal}}
          </ion-text>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-footer>