ion-content {
  --background: var(--ion-color-light);
}

ion-grid {
  background: #fff;
}

ion-slides {
  &.main {
    background: #fff;
    height: 270px;

    .slide {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 270px;
      width: 100%;
    }
  }

  &.related {
    .slide {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 270px;
      width: 100%;
    }
  }
}

ion-card .image-container {
  position: relative;
  padding: 0;

  span {
    background: #ccc;
    padding: 3px;
    color: #333;
    font-size: 12px;
    border-radius: 2px;
    position: absolute;
    bottom: 10px;
    left: 16px;
  }
}

ion-card-content {
  padding: 4px 6px !important;
}

.btn-variation {
  --box-shadow: none;
  --border-width: 1px;
  --border-style: solid;
  --border-color: var(--ion-color-light-shade);
}

.label-quantity {
  font-size: 24px;
  font-weight: bold;
  margin: 0 16px;
}

.button-quantity {
  height: auto;
  --padding-end: 6px;
  --padding-start: 6px;
  --padding-bottom: 6px;
  --padding-top: 6px;
}

ul,
ol {
  padding-left: 16px;

  li {
    margin-bottom: 12px;
  }
}

.dividing-border {
  margin: 12px 0 0 0;
  padding: 0;
  position: relative;
  width: 100%;
  border-bottom: 8px solid var(--ion-color-secondary);
}

.item-text-box {

  padding: 0px 32px 0px 15px;

  .item-combo-label {
    text-align: start;
    font: normal normal normal 11px/17px Cairo;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.5;
  }

  .item-name {
    text-align: start;
    font: normal normal bold 18px/20px Cairo;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .name-bottom-border {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d7d8da66;
  }
}

.combo-item-wrapper {
  padding: 25px;
}

.cart-button-container {
  .cart-button {
    width: 95%;
    height: 40px;
    background: #17d35d 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
  }

  .quantity-button {
    width: 36px;
    height: 39px;
  }
}

.more-items-div {
  background: var(--ion-color-secondary);
  width: 100%;

  .more-items-label {
    text-align: center;
    font: normal normal bold 14px/26px Cairo;
    letter-spacing: 0px;
    color: #a1b4a1;
  }

  .featured-item-container {
    padding: 4px;
  }
}

.combo-item-price {
  font-size: 21px;
  font-weight: 900;
}

.qtylblcolor {
  color: #17d35d ;
  --ion-color-base: #17d35d !important;
}
.qtydisabledcolor {
  color: #17d35d;
}