ion-content {
  --background: var(--ion-color-light);
}

ion-grid {
  background: #fff;
}

ion-searchbar {
  padding: 0 8px !important;
}

ion-buttons {
  align-self: center;
}

@media (min-width: 992px) {
  ion-col {
    margin: 16px 0;
  }
}

.category-box {
  border-bottom: 1px solid #7b7b7b2e;

  .category-view-all {
    font-size: 12px;
  }

  .category-name {
    font-size: 16px;
    color: #444444;
    padding-right: 7px;
  }

  .category-image-container {
    border-radius: 15px;
  }

  .category-image {
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
    padding: 0;
    height: 75px;
    background-color: #f1f1f1 !important;
  }
}





// new styles for new layout of categories
ion-content {
  --background: var(--ion-color-light);
}

ion-grid {
  background: #fff;
}

@media (min-width: 992px) {
  ion-col {
    margin: 16px 0;
  }
}




.category-view-all {
  font-size: 12px;
}

.category-types {
  font-size: 12px;
}

.category-image-container {
  border-radius: 15px;
}

.category-image {
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
  padding: 0;
position: relative;
mask-image: linear-gradient(to bottom, black 0%, rgb(0 0 0 / 30%) 100%);
-webkit-mask-image: linear-gradient(to bottom, black 0%, rgb(0 0 0 / 30%) 100%);
background-color: #272727 !important; 
height: 100% !important;
  
}



.mygradcolo {
  display:inline-block;
  
}