<!-- <ion-header class="ion-no-border">
  <ion-toolbar fixed>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div>
      <ion-searchbar mode="ios" [placeholder]="'SEARCH_PLACEHOLDER' | translate" (ionClear)="onClearSearch()"
        (ionChange)="onSearch($event)">
      </ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header> -->
<app-shop-header [showSearch]="true" [showMenu]="true" [showCart]="true" [pageTitle]="title.getTitle()">
</app-shop-header>

<ion-content scrollEvents="true" #container>

  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
    <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}"
      refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <div slot="fixed" style="left: 16px; right: 16px">
    <ion-grid class="relative" fixed *ngIf="suggestions.length">
      <ion-list lines="none" class="ion-no-margin" class="shadow autocomplete" *ngIf="suggestions.length"
        [@staggerIn]="suggestions.length">
        <ion-item class="hover" button detail="false" style="--min-height: 70px;" *ngFor="let suggestion of suggestions"
          (click)="onSuggestionTouched(suggestion)">
          <ion-label>
            <ion-text color="dark">
              <span class="link bold text-medium">
                {{ suggestion.name }}
              </span>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-grid>
  </div>

  <ion-grid fixed>

    <empty-view *ngIf="isErrorViewVisible" icon="alert-circle-outline" [text]="'ERROR_DATA' | translate">
    </empty-view>

    <empty-view *ngIf="isEmptyViewVisible" icon="alert-circle-outline" [text]="'EMPTY_DATA' | translate">
    </empty-view>


    <!-- START SHOWING OLD CATEGORIES VIEW -->
    <!-- <div class="ion-margin-vertical" *ngIf="isContentViewVisible" [@staggerIn]="categories.length">
      <div class="category-box" *ngFor="let category of categories">
        <ion-row class="ion-align-items-center">
          <ion-col size="8" class="ion-text-start">
            <h4 class="category-name ion-no-margin">
              {{ category.name }}
            </h4>
          </ion-col>
          <ion-col size="4" class="ion-text-end">
            <ion-button class="bold no-shadow ion-text-capitalize" round (click)="onViewAll(category)" color="primary"
              style="height: 33px;">
              <ion-text class="category-view-all" color="light">
                {{ 'VIEW_ALL' | translate }}
              </ion-text>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="category-image-container" (click)="goToSubCategoryPage(category)">
            <img class="category-image" [src]="category.image?.url()">
          </ion-col>
        </ion-row>
      </div>
    </div> -->

    <!-- END SHOWING OLD CATEGORIES VIEW -->

    <!-- START NEW STYLE OF CATS  -->

    <!-- <ion-row class="ion-margin-vertical" *ngIf="isContentViewVisible" [@staggerIn]="categories.length">

      <ion-col size-xs="4" class="ion-text-center" *ngFor="let category of categories">
        <div (click)="goToSubCategoryPage(category)">
          <img class="category-image" style="background-color: #f1f1f1 !important; height: 110px !important;" [src]="category.image?.url()">

          <ion-text color="dark">
              <p class="link margin-6 text-medium">
                {{ category.name }}
              </p>
          </ion-text>
      
        </div>
      </ion-col>
          

    </ion-row> -->

    <!-- END NEW STYLE OF CATS -->


        <!-- START NEW SHADOE GRID OF CATS  -->

        <ion-row class="ion-margin-vertical" *ngIf="isContentViewVisible" [@staggerIn]="categories.length" style="padding-left: 7px; padding-right: 7px; margin-top: 0px;">

          <ion-col size-xs="6" class="ion-text-center" *ngFor="let category of categories"  style="padding: 12px; height: 175px !important;">
            <div (click)="goToSubCategoryPage(category)">
              <div class="mygradcolo" style="background-color: black;     border-radius: 15px; height: 150px;">
                <img class="category-image" [src]="category.image?.url()">
              </div>
    
              <ion-text color="dark" style="position: relative; top: -105px; font-weight: bold; color: white;">
                  <p class="link margin-6 text-medium" style="font-size: 20px !important;">
                    {{ category.name }}
                  </p>
              </ion-text>
          
            </div>
          </ion-col>
              
    
        </ion-row>

        <!-- START NEW SHADOE GRID OF CATS  -->



    <!-- <ion-row class="ion-margin-vertical" *ngIf="isContentViewVisible" [@staggerIn]="categories.length">
      <ion-col size-xs="3" class="ion-text-center">
        <div class="circle dark-bg" (click)="onViewAll()">
          <div class="circle-inner">
            <p class="bold link">{{ 'VIEW_ALL' | translate }}</p>
          </div>
        </div>
      </ion-col>
      <ion-col size-xs="3" class="ion-text-center" (click)="goToSubCategoryPage(category)"
        *ngFor="let category of categories;trackBy:trackByFn">
        <div class="circle bg-img" defaultImage="./assets/imgs/placeholder.png" [lazyLoad]="category.imageThumb?.url()"
          [customObservable]="loadAndScroll"></div>
        <ion-text color="dark">
          <p class="link margin-6 text-medium">
            {{ category.name }}
          </p>
        </ion-text>
      </ion-col>
    </ion-row> -->

    <section *ngIf="isLoadingViewVisible">
      <ion-row class="ion-text-center">
        <ion-col size-xs="4" *ngFor="let item of skeletonArray" >
          <ngx-skeleton-loader count="3" appearance="rounded" [theme]="{ 'border-radius': '18px', width: '90%', height: '100px' }" >
          </ngx-skeleton-loader>
        </ion-col>
      </ion-row>
    </section>

  </ion-grid>

</ion-content>