<ion-tabs>

  <ion-tab-bar slot="bottom" color="light" *ngIf="platform.is('mobile')" fixed class="mtabbar" style="direction: ltr !important;">
    <ion-tab-button tab="account" layout="icon-top" (click)="handleTabClick($event); selectedIndex = 'account'">
      <ion-icon class="tabiconclass"  [src]="selectedIndex === 'account'  ? 'assets/Haseed/TabbarAccount-Green.svg' : 'assets/Haseed/TabbarAccount.svg'"></ion-icon>
      <ion-label class="tablblclass">{{ 'ACCOUNT' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders" layout="icon-top" (click)="goToOrdersPage(); selectedIndex = 'orders'">
      <ion-icon class="tabiconclass" [src]="selectedIndex === 'orders' ?  'assets/Haseed/TabbarOrders-Green.svg' : 'assets/Haseed/TabbarOrders.svg' "></ion-icon>
      <ion-label class="tablblclass">{{ 'ORDERS' | translate }}</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="home" layout="icon-top" (click)="handleTabClick($event); selectedIndex = 'home'">
      <ion-icon class="tabiconclass"  [src]="selectedIndex === 'home' ? 'assets/Haseed/TabbarHome-Green.svg' : 'assets/Haseed/TabbarHome.svg'"></ion-icon>
      <ion-label class="tablblclass">{{ 'HOME' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="browse" layout="icon-top" (click)="handleTabClick($event); selectedIndex = 'browse'">
      <ion-icon class="tabiconclass"  [src]="selectedIndex === 'browse' ? 'assets/Haseed/TabbarCategories-Green.svg' : 'assets/Haseed/TabbarCategories.svg'"></ion-icon>
      <ion-label class="tablblclass">{{ 'CATEGORIES' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart" layout="icon-top" (click)="handleTabClick($event); selectedIndex = 'cart'">
      <ion-icon class="tabiconclass"  [src]="selectedIndex === 'cart' ? 'assets/Haseed/TabbarCart-Green.svg' : 'assets/Haseed/TabbarCart.svg'"></ion-icon>
      <ion-label class="tablblclass">{{ 'CART' | translate }}</ion-label>
      <ion-badge  class="tabbadge"
        *ngIf="preference.cartCount">
        {{ preference.cartCount }}
      </ion-badge>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-tab-bar slot="top" color="dark" *ngIf="platform.is('desktop')" fixed>
    <ion-tab-button tab="home" layout="icon-start" (click)="handleTabClick($event)">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ 'HOME' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="browse" layout="icon-start" (click)="handleTabClick($event)">
      <ion-icon name="list"></ion-icon>
      <ion-label>{{ 'CATEGORIES' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart" layout="icon-start" (click)="handleTabClick($event)">
      <ion-icon name="cart"></ion-icon>
      <ion-label>{{ 'CART' | translate }}</ion-label>
      <ion-badge class="static margin-6-horizontal" color="light" 
        *ngIf="preference.cartCount">
        {{ preference.cartCount }}
      </ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="account" layout="icon-start" (click)="handleTabClick($event)">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{ 'ACCOUNT' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>