
.mtabbar {
    padding-top: 5px !important;
}

.tabiconclass {
    font-size: 25px !important;
}

.tablblclass {
    font-size: 11px !important;
}

.tabbadge {
    width: 20px;
    background: #d64356 !important;
    height: 20px;
    border-radius: 100px;
    color: white !important;
    font-size: 14px;
    font-weight: bold;
    line-height: 13px;
    right: 0px !important;
}