ion-content {
  --background: var(--ion-color-light);
}

ion-grid {
  background: #fff;
}

ion-item {
  --min-height: 120px;

  ion-thumbnail {
    width: 100px;
    height: 100px;
  }
}

.orderrow {
  direction: ltr !important;
  margin-left: 10px;
  margin-right: 10px;
}

