<app-shop-header [canGoBack]="true" [pageTitle]="title.getTitle()"></app-shop-header>

<ion-content>

  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12">
        <div class="flex center align-items-center logo-container ion-text-center">
          <img class="logo" src="./assets/Haseed/splash/NavbarLogoBig.png" width="120">
          <!-- <h1 class="bold">{{ 'APP_NAME' | translate }}</h1> -->
          <!-- <h3>{{ version }}</h3> -->
        </div>

        <ion-row *ngIf="isContentViewVisible">

          <ion-col size-xs="12" size-md="4" class="ion-padding">
            <div class="ion-text-center ion-text-uppercase">
              <h5 class="bold">{{ 'ABOUT_US' | translate }}</h5>
            </div>
            <div class="text-normal ion-margin-vertical ion-text-justify" style="line-height:1.5" [innerHTML]="about">
            </div>
          </ion-col>

          <ion-col size-xs="12" size-md="4" class="ion-padding" *ngIf="pages.length">
            <div class="ion-text-center ion-text-uppercase">
              <h5 class="bold">{{ 'HELP' | translate }}</h5>
            </div>
            <ion-item style="--background-hover: transparent" *ngFor="let page of pages"
              [routerLink]="['../pages/' + page.slug]">
              <ion-label>
                <p class="link">{{ page.title }}</p>
              </ion-label>
            </ion-item>
          </ion-col>

          <ion-col size-xs="12" size-md="4" class="ion-padding">
            <div>
              <div class="ion-text-center ion-text-uppercase">
                <h5 class="bold">{{ 'CONTACT_US' | translate }}</h5>
              </div>
              <ion-item button *ngIf="appConfig?.about?.email">
                <a style="text-decoration: none !important; color: grey; list-style-type: none;" href="mailto:appConfig.about.email" ><p class="link">{{ appConfig?.about?.email }}</p></a>
                <ion-icon name="mail" slot="start"></ion-icon>
              </ion-item>
              <!-- <ion-item button *ngIf="appConfig?.about?.email" (click)="openUrl('mailto:' + appConfig.about.email)">
                <ion-icon name="mail" slot="start"></ion-icon>
                <ion-label>
                  <p class="link">{{ appConfig?.about?.email }}</p>
                </ion-label>
              </ion-item> -->
              <ion-item button *ngIf="appConfig?.about?.phone" (click)="openUrl('tel:' + appConfig.about.phone)">
                <ion-icon name="call" slot="start"></ion-icon>
                <ion-label>
                  <p class="link">{{ appConfig?.about?.phone }}</p>
                </ion-label>
              </ion-item>
              <ion-item button *ngIf="appConfig?.about?.facebook" (click)="openUrl(appConfig.about.facebook)">
                <ion-icon name="logo-facebook" color="fb" slot="start"></ion-icon>
                <ion-label>
                  <p class="link">{{ 'FACEBOOK' | translate }}</p>
                </ion-label>
              </ion-item>
              <ion-item button *ngIf="appConfig?.about?.youtube" (click)="openUrl(appConfig.about.youtube)">
                <ion-icon name="logo-youtube" color="youtube" slot="start"></ion-icon>
                <ion-label>
                  <p class="link">{{ 'YOUTUBE' | translate }}</p>
                </ion-label>
              </ion-item>
              <ion-item button *ngIf="appConfig?.about?.instagram" (click)="openUrl(appConfig.about.instagram)">
                <ion-icon name="logo-instagram" color="instagram" slot="start"></ion-icon>
                <ion-label>
                  <p class="link">{{ 'INSTAGRAM' | translate }}</p>
                </ion-label>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>