ion-content {
  --background: var(--ion-color-light);
}

ion-grid {
  background: #fff;
}

h2.text {
  font-size: 2rem;
}

.text {
  font-size: 1.5rem;
}

ion-icon {
  font-size: 10em;
}

ion-text {
  font-size: 1rem;
}

.thanks-text-box {
  p {
    color: #48505A;
    margin: 0;
    padding: 0;
  }
}
ion-button {
  width: 297px;
  height: 48px;
}

.thanks-page-button {
  --background: white;
  border: 2px solid #00c569;
  border-radius: 12px;

  ion-text {
    color: #00c569;
  }
}
