<app-shop-header [canGoBack]="false" [pageTitle]="title.getTitle()">
</app-shop-header>

<ion-content>
  <ion-grid class="center" fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-lg="10">
        <div class="ion-text-center" *ngIf="order">
          <ion-icon src="assets/Haseed/ThankYouSuccess.svg"></ion-icon>
          <div class="ion-no-padding thanks-text-box">
            <ion-text color="dark">
              <h2 class="bold">
                {{ 'ORDER_PLACED' | translate }}
              </h2>
              <p>
                {{ 'ORDER_DETAILS' | translate: order }}
              </p>
              <p>{{ 'PRICE' | translate }}: {{order.total}} </p>
              <p>{{ 'ORDER_NOTICE' | translate }}</p>
            </ion-text>
          </div>
          <div style="width: 300px; margin: 0 auto; margin-top: 160px;">
            <div class="ion-margin-vertical">
              <ion-button class="thanks-page-button" size="large" shape="round"  expand="block" (click)="goToHome()">
                <ion-text color="light">
                  {{ 'CONTINUE_SHOPPING' | translate }}
                </ion-text>
              </ion-button>
            </div>
            <div>
              <ion-button  size="large" shape="round" color="primary" expand="block" (click)="goToOrder()">
                <ion-text color="light">
                  {{ 'VIEW_ORDER' | translate }}
                </ion-text>
              </ion-button>
            </div>
          </div>
          
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>