ion-card {
    ion-card-content {
        padding: 4px 3px !important;
    }
    .image-container {
        position: relative;
        margin: 0px !important;
        // margin-bottom: 0px !important;
        overflow: hidden;
        border-radius: 7px;
        // img {
            width: 100%;
            height: 100px;
            // object-fit: cover;
            background-size: cover;
            background-color: #f1f1f1 !important;
            border-radius: 12px;
        // }
        // span {
        //     background: #17d35d;
        //     padding: 2px 5px 6px 8px;
        //     color: #ffffff;
        //     font-size: 13px;
        //     border-bottom-left-radius: 8px;
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        // }
    }
}

.addtocartpara {
    font-size: 10px !important;
}

.item-name {
    text-transform: uppercase;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px !important;
}

.card-border-radius {
    border-radius: 15px !important;
}

.be-height {
    height: 70px;
}

.badgeitem {
    background: #d64356 !important;
    padding: 3px 10px 6px 6px;
    color: #ffffff;
    line-height: 28px;
    font-size: 13px;
    border-bottom-right-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.not_available {
    width: 100%;
    height: 100px;
    /* z-index: 2; */
    position: absolute;
    background: #7b7b7ba3;

    p {
        margin: 0;
        color: white;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        line-height: 100px;
    }
}
