<ion-card button class="full-width no-shadow ion-no-margin" [ngClass]="showRadius ? 'card-border-radius' : 'no-radius'" style="margin-bottom: 7px; border-radius: 12px !important;">

  <div style="margin: 5px;">
    <div [ngStyle]="{'background-image': 'url(' + item.featuredImageThumb?.url() + ')'}" class="image-container">
      <!-- <img [src]="item.featuredImageThumb?.url()" /> -->
      <span *ngIf="item.bagde && !item.notAvailable" class="badgeitem">
        {{ item.bagde }}
      </span>
      <span *ngIf="item.notAvailable" class="not_available">
        <p>
          {{'NOT_AVA' | translate}}
        </p>
      </span>
    </div>
  </div>




  <ion-card-content class="ion-text-center" style="margin-top: -10px;">

    <ion-text color="dark">
      <h3 class="link item-name text-medium">{{ item.name }}</h3>
    </ion-text>

    <!-- <bar-rating [rate]="item.ratingAvg" [readOnly]="true" [max]="5" [theme]="'stars'"></bar-rating> -->

    <div style="height: 25px;">
      <ion-text color="dark">
        <p class="ion-no-margin" *ngIf="item.salePrice">
          <span class="bold" style="color: #d64356 !important;">{{ item.salePrice | currencyGlobal }}&nbsp;</span>
          <small>
            <ion-text color="medium">
              <s class="bold">
                {{ item.price | currencyGlobal }}
              </s>
            </ion-text>
          </small>
        </p>
        <p class="bold ion-no-margin" *ngIf="!item.salePrice">
          <small>
            <ion-text color="dark">
              <p class="bold" style="color: #d64356 !important;">
                {{ item.price | currencyGlobal }}
              </p>
            </ion-text>
          </small>
        </p>
      </ion-text>
    </div>


    <ion-row *ngIf="!item.existsInCart" class="ion-justify-content-center">
      <ion-button [disabled]="item.notAvailable ? item.notAvailable : false" shape="round" size="small" color="primary" (click)="addToCart($event, item)">
        <ion-spinner color="light" *ngIf="isAddingToCart"></ion-spinner>
        <ion-text color="light" *ngIf="!isAddingToCart">
          <p class="addtocartpara">{{ 'ADD_TO_CART' | translate }}</p>
        </ion-text>
      </ion-button>
    </ion-row>

    <app-item-qty *ngIf="item.existsInCart" [isShopItem]="true" [qty]="item.qty"
      (qtyDecrease)="decrementQuantity($event, item)" (qtyIncrease)="incrementQuantity($event, item)"></app-item-qty>

  </ion-card-content>
</ion-card>