<div class="combo-item-container" [ngClass]="!isBackgroundWhite ? 'green-bg' : 'white-bg' " *ngFor="let item of items">
  <ion-row style="height: 95px;">
    <ion-col size="3">
      <div class="image-container">
        <img [src]="item.featuredImageThumb?.url()" />
      </div>

    </ion-col>

    <ion-col size="4.5" class="item-text-container" style="padding-right: 5px;">
      <ion-text>
        <p class="name-label">
          {{item.name}}
        </p>
      </ion-text>
      <div class="name-bottom-border"></div>
      <ion-text>
        <p class="price-tag" *ngIf="item.salePrice && item.qty == 1">
          <span style="margin-left: 2px; margin-right: 2px; ">{{ 'PRICE' | translate }}</span>
          {{item.salePrice | currencyGlobal}}
        </p>
        <p class="price-tag" *ngIf="!item.salePrice && item.qty == 1">
          <span style="margin-left: 2px; margin-right: 2px;">{{ 'PRICE' | translate }}</span>
          {{item.price | currencyGlobal}}
        </p>
        <p class="price-tag" *ngIf="item.qty > 1">
          <span style="margin-left: 2px; margin-right: 2px;">{{ 'PRICE' | translate }}</span>
          {{item.amount | currencyGlobal}}
        </p>
      </ion-text>
    </ion-col>

    <ion-col size="4.5" class="quantity-counter-div">
      <ion-item *ngIf="!isOrderDetail" lines="none" class="ion-no-margin ion-align-self-start"
        style="margin-left: 5px;">
        <!-- <div slot="end" class="ion-no-margin"> -->
        <ion-button slot="end" size="small" class="ion-no-padding ion-no-margin" fill="clear" mode="ios"
          (click)="removeItem(item); $event.stopPropagation()">
          <ion-icon class="ion-no-margin" src="assets/Haseed/CartDelete.svg" style="font-size: 21px;"></ion-icon>
        </ion-button>
        <!-- </div> -->
      </ion-item>



      <ion-row *ngIf="!isOrderDetail" style="padding-left: 10px;">
        <ion-col size="4">
          <p class="qty-tag">
            {{ 'COMBO_QTY' | translate }}
          </p>
        </ion-col>
        <ion-col size="8">
          <app-item-qty [qty]="item['qty']" (qtyIncrease)="incrementQuantity(item)"
            (qtyDecrease)="decrementQuantity(item)">
          </app-item-qty>
        </ion-col>
      </ion-row>

      <div style="height:40px"></div>

      <ion-item class="order-detail-quantity" lines="none" *ngIf="isOrderDetail">
        <ion-text class="ion-no-margin">
          <p class="ion-no-margin">
            : {{'ORDER_QTY' | translate }}
          </p>
        </ion-text>

        <ion-text class="ion-no-margin" slot="start" style="margin-right: 5px;">
          <p class="ion-no-margin" style="color: #d64356;">
            {{ item['qty'] }}
          </p>
        </ion-text>

      </ion-item>

    </ion-col>



  </ion-row>


</div>