.combo-item-container {
    border-radius: 7px;
    border: 1px solid #e2e2e2;
    margin-top: 10px;
}

.green-bg {
    background: #F2F2F2 0% 0% no-repeat padding-box;
    ion-item {
        --background: #F2F2F2;
    }
}

.white-bg {
    background: #ffffff 0% 0% no-repeat padding-box;
}
.image-container {
    position: relative;
    margin: 3px;
    margin-bottom: 0px;
    overflow: hidden;
    border-radius: 7px;

    img {
        width: 150px; margin: 5px;
        height: 65px !important;
        background-color: #f1f1f1;
        object-fit: cover;
        border-radius: 7px;
    }
}

.item-text-container {
    .name-label {
        margin-bottom: 5px;
        font: normal normal bold 14px/18px Cairo;
        letter-spacing: 0px;
    }

    .price-tag {
        margin: 6px 0;
        color: #d64356 !important;
        font: normal normal bold 11px/14px Cairo;

        span {
            color: #a7a7a7 !important;
            text-transform: uppercase;
            font-weight: lighter;
        }
    }

    .name-bottom-border {
        width: 50%;
        position: relative;
        border-bottom: 2px solid #d7d8da66;
    }
}

.quantity-counter-div {
    // .icon-remove-container {
    //     height: 39px;
    //     .icon-remove-button {
    //         left: 93px;
    //         width: 19px;
    //         height: 19px;
    //         background: #313131 0% 0% no-repeat padding-box;
    //         border-radius: 7px;
    //     }

    //     .icon-remove-button[style="dir='rtl'"] {
    //         right: 93px !important;
    //     }
    // }
}

.qty-tag {
    color: #a7a7a7;
    font-size: 13px;
    font-weight: lighter;
    margin: 0px;
    margin-top: 7px;
}

.order-detail-quantity {
    direction: ltr;
    font-size: 13px;
}
