.order-box-container {
    border-bottom: 2px solid #d7d8da66;
}

.pending {
    width: 106px;
    height: 36px;
    text-align: center;
    background: #f6c632 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}

.ontheway {
    width: 106px;
    height: 36px;
    text-align: center;
    background: #E3FCFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;

    .order-status-label {
        color: #075861;
    }
}

.packed {
    width: 106px;
    height: 36px;
    text-align: center;
    background: #00c569 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}

.cancelled {
    width: 106px;
    height: 36px;
    text-align: center;
    background: #ee2d62 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}

.process {
    width: 106px;
    height: 36px;
    text-align: center;
    background: #2550c6 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}

.order-status-label {
    font-family: Cairo !important;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 35px;
}

.order-icon-container {
    .order-icon {
        font-size: 3.5rem;
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        opacity: 1;
    }
}


.orderno {
    margin-bottom: 0px !important;
    margin-top: -7px;
    font-size: 20px;
}

.orderamount {
    margin-top: 0px;
    color: #d64356 !important;
    text-align: right !important;
    direction: rtl !important;
}