<ion-row class="order-box-container align-items-center" style="direction: ltr !important;">
  <ion-col size="5" class="" [ngSwitch]="order.status">
    <div *ngSwitchCase="'Delivered'" class="packed">
      <span class="order-status-label">{{'DELIVERED' | translate}}</span>
    </div>
    <div *ngSwitchCase="'Shipped Out'" class="ontheway">
      <span class="order-status-label">{{'ON_THE_WAY' | translate}}</span>
    </div>
    <div *ngSwitchCase="'Pending'" class="pending">
      <span class="order-status-label">{{'PENDING' | translate}}</span>
    </div>
    <div *ngSwitchCase="'Process'" class="process">
      <span class="order-status-label">{{'PROCESS' | translate}}</span>
    </div>
    <div *ngSwitchCase="'Packed'" class="packed">
      <span class="order-status-label">{{'PACKED' | translate}}</span>
    </div>
    <div *ngSwitchCase="'Cancelled'" class="cancelled">
      <span class="order-status-label">{{'CANCELLED' | translate}}</span>
    </div>
  </ion-col>
  <ion-col size="5" style="padding-right: 10px;">
    <ion-text class="ion-text-end">
      <p class="bold orderno">
        {{order.number}}#
      </p>
      <p class="bold orderamount" >
        {{order.total | currencyGlobal}}
      </p>
    </ion-text>
  </ion-col>
  <ion-col size="2" class="order-icon-container" [ngSwitch]="order.status">
    <div *ngSwitchCase="'Delivered'">
      <ion-icon class="order-icon"  src="../../../assets/Haseed/packed.svg"></ion-icon>
    </div>
    <div *ngSwitchCase="'Shipped Out'">
      <ion-icon class="order-icon"  src="../../../assets/Haseed/steering.svg"></ion-icon>
    </div>
    <div *ngSwitchCase="'Pending'">
      <ion-icon class="order-icon"  src="../../../assets/Haseed/pending.svg"></ion-icon>
    </div>
    <div *ngSwitchCase="'Process'">
      <ion-icon class="order-icon"  src="../../../assets/Haseed/process.svg"></ion-icon>
    </div>
    <div *ngSwitchCase="'Packed'">
      <ion-icon class="order-icon"  src="../../../assets/Haseed/packed.svg"></ion-icon>
    </div>
    <div *ngSwitchCase="'Cancelled'">
      <ion-icon class="order-icon"  src="../../../assets/Haseed/cancelled.svg"></ion-icon>
    </div>
  </ion-col>
</ion-row>