ion-content {
  --background: var(--ion-color-light);
}

ion-grid {
  background: #fff;
}

ion-slides {
  &.main {
    background: #fff;
    height: 270px;

    .slide {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 270px;
      width: 100%;
    }
  }

  &.related {
    .slide {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 270px;
      width: 100%;
    }
  }
}

ion-card .image-container {
  position: relative;
  padding: 0;

  span {
    background: #ccc;
    padding: 3px;
    color: #333;
    font-size: 12px;
    border-radius: 2px;
    position: absolute;
    bottom: 10px;
    left: 16px;
  }
}

ion-card-content {
  padding: 4px 6px !important;
}

.btn-variation {
  --box-shadow: none;
  --border-width: 1px;
  --border-style: solid;
  --border-color: var(--ion-color-light-shade);
}

.label-quantity {
  font-size: 24px;
  font-weight: bold;
  margin: 0 16px;
}

.button-quantity {
  height: auto;
  --padding-end: 6px;
  --padding-start: 6px;
  --padding-bottom: 6px;
  --padding-top: 6px;
}

ul,
ol {
  padding-left: 16px;

  li {
    margin-bottom: 12px;
  }
}

.dividing-border {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  border-bottom: 4px solid var(--ion-color-secondary);
}

.item-text-box {
  .item-category-name {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 5px;
  }

  .item-name {
    margin-top: 7px;
  }

  .name-bottom-border {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d7d8da66;
  }
}

.item-description {
  color: #2daf31;
  font-weight: bold;
}

.item-description-divider {
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  position: relative;
  width: 15%;
  border-bottom: 3px solid #d4d4d4;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cart-button-container {
  ion-button {
    font-size: 14px;
    width: 202px;
    height: 40px;
  }

  .quantity-button {
    width: 36px;
    height: 39px;
    background-color: #C9C9C9;
    color: #00371F;
  }
}

.quantity-button button{
  width: 36px;
  height: 39px;
  background-color: #C9C9C9;
  color: #00371F;
}

.more-items-div {
  background: #F2F2F2;
  width: 100%;

  .featured-item-container {
    padding: 7px;
  }
}



.button-native {
  background: transparent !important;
}

.incdecbtn {
  background: #bbbbbb !important;
  --background: #bbbbbb !important;
  border-radius: 10px;
}
.qtylblcolor {
  color: #17d35d ;
  --ion-color-base: #17d35d !important;
}
.qtydisabledcolor {
  color: #17d35d;
}