<!-- <ion-header class="ion-no-border">
  <ion-toolbar fixed>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToCartPage()" [disabled]="!item">
        <ion-icon slot="start" name="cart"></ion-icon>
        <span *ngIf="preference.cartCount">
          {{ preference.cartCount }}
        </span>
      </ion-button>
      <ion-button color="dark" [disabled]="!item" (click)="onLike()">
        <ion-icon slot="icon-only" [name]="isLiked? 'heart' : 'heart-outline'" color="primary">
        </ion-icon>
      </ion-button>
      <ion-button class="btn-share" [disabled]="!item" (click)="onShare()">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<app-shop-header [showLike]="true" [showCart]="true" [canGoBack]="true" [pageTitle]="title.getTitle()"
  (onLike)="onLike()" [isLiked]="isLiked">
</app-shop-header>

<ion-content #container scrollEvents="true">

  <web-social-share (closed)="webSocialShare.onClosed()" [show]="webSocialShare.show" [share]="webSocialShare.share">
    <ion-icon class="block" name="logo-facebook" slot="facebook"
      style="color:var(--ion-color-fb);width:36px;height:36px;">
    </ion-icon>
    <ion-icon class="block" name="logo-twitter" slot="twitter"
      style="color:var(--ion-color-twitter);width:36px;height:36px;">
    </ion-icon>
    <ion-icon class="block" name="logo-whatsapp" slot="whatsapp"
      style="color:var(--ion-color-whatsapp);width:36px;height:36px;">
    </ion-icon>
    <ion-icon class="block" name="copy-outline" slot="copy"
      style="color: var(--ion-color-medium);width:36px;height:36px;">
    </ion-icon>
  </web-social-share>

  <ion-grid fixed class="ion-no-padding">

    <empty-view *ngIf="isErrorViewVisible" icon="alert-circle-outline" [text]="'ERROR_DATA' | translate">
    </empty-view>

    <empty-view *ngIf="isEmptyViewVisible" icon="alert-circle-outline" [text]="'EMPTY_DATA' | translate">
    </empty-view>

    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-lg="10">

        <div *ngIf="isLoadingViewVisible">

          <ion-row>
            <ion-col size-xs="12" size-lg="6">
              <ngx-skeleton-loader count="1"
                [theme]="{ 'border-radius': '0', margin: '0 0 16px', height: '250px', width: '100%' }">
              </ngx-skeleton-loader>
            </ion-col>
            <ion-col size-xs="12" size-lg="6">
              <ngx-skeleton-loader count="4" [theme]="{ 'border-radius': '0', height: '10px' }">
              </ngx-skeleton-loader>
            </ion-col>
          </ion-row>

          <ion-row class="bg-light ion-margin-vertical">
            <ion-col>
              <div class="ion-padding">
                <ngx-skeleton-loader count="16" [theme]="{ 'border-radius': '0', height: '10px' }">
                </ngx-skeleton-loader>
              </div>
            </ion-col>
          </ion-row>

        </div>

        <div *ngIf="isContentViewVisible">

          <ion-row>
            <ion-col size-xs="12" size-lg="6">
              <!-- Slide List -->
              <div class="border-light">
                <ion-slides class="main" #slides pager gallerize="itemGallery" selector=".bg-img"
                  (ionSlidesDidLoad)="onSlidesDidLoad($event)" (ionSlideWillChange)="onSlidesWillChange($event)">
                  <ion-slide>
                    <div class="slide bg-img" [attr.imageSrc]="item.featuredImage.url()"
                      [attr.thumbSrc]="item.featuredImage.url()" [lazyLoad]="item.featuredImage.url()"
                      [customObservable]="slidesObservable" defaultImage="assets/imgs/placeholderlight.gif">
                    </div>
                  </ion-slide>
                  <ion-slide *ngFor="let photo of item?.images">
                    <div class="slide bg-img" [attr.imageSrc]="photo.url()" [attr.thumbSrc]="photo.url()"
                      [lazyLoad]="photo.url()" [customObservable]="slidesObservable"
                      defaultImage="./assets/imgs/placeholder-large.jpg">
                    </div>
                  </ion-slide>
                </ion-slides>
              </div>

              <div>

              </div>
            </ion-col>
          </ion-row>

          <div class="dividing-border"></div>

          <ion-row class="ion-padding-start ion-padding-end">
            <ion-col size-xs="12" size-lg="6" style="padding: 0px 32px 0px 15px;" class="item-text-box ion-no-padding">
              <p class="item-category-name ion-no-margin">
                <span *ngFor="let category of item.categories">{{category.name}}, </span>
              </p>
              <h4 class="item-name">{{ item?.name }}</h4>
              <span *ngIf="item.notAvailable" 
              style="
              position: relative;
              float: left;
              color: red !important;
              font-weight: bold;
              padding-top: 15px;">{{ 'NOT_AVA' | translate }}</span>
              <div class="name-bottom-border"></div>
              <p *ngIf="item?.salePrice">
                <span class="text-large" class="bold" style="color: #d64356 !important;">{{ item?.salePrice | currencyGlobal }}&nbsp;</span>
                <ion-text color="medium">
                  <s class="text-small bold">{{ item?.price | currencyGlobal }}</s>
                </ion-text>
              </p>
              <p class="text-large bold" *ngIf="!item?.salePrice" style="color: #d64356 !important;">
                {{ item?.price | currencyGlobal }}
              </p>
              <!-- <bar-rating [rate]="item.ratingAvg" [readOnly]="true" [max]="5" [theme]="'stars'"></bar-rating> -->

              <div *ngIf="item?.hasVariations()">
                <h6>{{ 'CHOOSE_VARIATION' | translate }}</h6>

                <ion-button class="btn-variation ion-text-capitalize ion-margin-end" size="small"
                  [color]="selectedVariation?.id === variation.id ? 'primary' : 'light'"
                  (click)="onVariationTouched(variation)" *ngFor="let variation of variations">
                  {{ variation.name }}
                </ion-button>
              </div>

            </ion-col>

          </ion-row>

          <div class="dividing-border"></div>

          <ion-row class="ion-padding">
            <ion-col>
              <div class="ion-padding ion-text-center" *ngIf="itemDescription">
                <ion-text class="item-description" color="primary">
                  {{ 'DESCRIPTION' | translate }}
                </ion-text>
                <div class="item-description-divider"></div>
                <div class="ion-text-justify" [innerHTML]="itemDescription"></div>
              </div>

              <!-- <div class="ion-padding">
                <h3>{{ 'REVIEWS' | translate }}</h3>

                <div *ngIf="!reviews.length" style="height:170px;" class="ion-text-center">
                  <div class="flex-center">
                    <ion-text color="medium">
                      <p>
                        {{ 'EMPTY_REVIEWS' | translate }}
                      </p>
                    </ion-text>
                  </div>

                </div>

                <div *ngFor="let review of reviews;trackBy:trackByFn">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img defaultImage="./assets/imgs/avatar.png" [lazyLoad]="review.user?.photo?.url()"
                        [customObservable]="loadAndScroll" />
                    </ion-avatar>

                    <ion-label>
                      <ion-text color="dark">
                        <p class="no-margin">
                          {{ review.user?.name || ('GUEST' | translate) }}
                        </p>
                      </ion-text>
                      <bar-rating [rate]="review.rating" [readOnly]="true" [max]="5" [theme]="'stars'">
                      </bar-rating>
                      <ion-text color="medium">
                        <p class="text-medium">
                          {{ review.createdAt | dateGlobal:'mediumDate' }}
                        </p>
                      </ion-text>
                    </ion-label>

                  </ion-item>

                  <div class="ion-padding-horizontal">
                    <ion-text color="dark">
                      <p class="no-margin">{{ review.comment }}</p>
                    </ion-text>
                  </div>

                </div>

                <div class="ion-margin-vertical ion-text-center" *ngIf="reviews.length">
                  <ion-button class="" color="light" [routerLink]="['./reviews']">
                    {{ 'VIEW_ALL_REVIEWS' | translate }}
                  </ion-button>
                </div>
              </div> -->

            </ion-col>
          </ion-row>

          <div class="more-items-div">
            <ion-row class="scrollable">
              <ion-col size-xs="4.75" size-sm="4" size-md="3" *ngFor="let featuredItem of featuredItems"
                [hidden]="featuredItem.objectId === item.objectId">
                <div class="featured-item-container">
                  <app-shop-item [item]="featuredItem" [customObservable]="loadAndScroll"
                    (click)="goToItemPage(featuredItem.slug)">
                  </app-shop-item>
                </div>
              </ion-col>
            </ion-row>
          </div>



          <div class="dividing-border"></div>

          <!-- <div *ngIf="item?.relatedItems?.length">
            <h5>{{ 'RELATED_ITEMS' | translate }}</h5>
          </div> -->

          <!-- <ion-slides class="ion-margin-vertical" class="related" (ionSlideWillChange)="onSlidesRelatedDrag()"
            [options]="relatedSlidesConfig">
            <ion-slide *ngFor="let item of item?.relatedItems">
              <app-shop-item [item]="item" [customObservable]="slidesRelatedObservable"
                [routerLink]="['../../' + item.slug]">
              </app-shop-item>
            </ion-slide>
          </ion-slides> -->

        </div>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="7">
        <div class="cart-button-container" class="ion-padding-horizontal">
          <ion-button class="ion-text-uppercase" strong expand="block" shape="round" color="primary"
          [disabled]="isAddingToCart || isInCart || item?.notAvailable" (click)="onAddToCart()">
          <ion-spinner color="light" *ngIf="isAddingToCart"></ion-spinner>
            <ion-text color="light" *ngIf="!isAddingToCart || !isInCart">{{ 'ADD_TO_CART' | translate }}</ion-text>
          </ion-button>
        </div>
      </ion-col>

      <ion-col size="5">
        <div class="flex align-items-center justify-content-center">
          <ion-button class="button-quantity quantity-button incdecbtn"  [disabled]="qty === 1 || item?.notAvailable"
            (click)="isInCart ? decCartItemQuantity() : dec()">
            <ion-icon slot="icon-only" name="remove"></ion-icon>
          </ion-button>
          <span class="label-quantity" [ngClass]="!isInCart ? 'qtylblcolor' : 'qtydisabledcolor'" >{{ qty }}</span>
          <ion-button class="button-quantity quantity-button incdecbtn"  (click)="isInCart ? incCartItemQuantity() : inc()"
          [disabled]="item?.notAvailable">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>

