ion-content {
  --background: var(--ion-color-light);
}

ion-grid {
  background: #fff;
}

ion-searchbar {
  padding: 0 8px !important;
}

ion-slides {

  --bullet-background: var(--ion-color-light);
  --bullet-background-active: var(--ion-color-primary);

  .slide-img {
    background-color: var(--ion-color-white);
    background-size: cover;
    background-position: center center;
    border-radius: 12px;
    width: 100%;
    max-width: 100%;
    height: 200px;
  }
}

ion-row.ion-nowrap {
  overflow: hidden;
}

.brand-img {
  background: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid var(--ion-color-light-shade);
  border-radius: 16px;
  background-position: center;
  height: 180px;
}

@media (min-width: 992px) {

  .circle {
    width: 100px;
    height: 100px;
  }

  ion-slides .slide-img {
    height: 270px;
  }

  .brand-img {
    height: 300px;
  }
}

@media (min-width: 768px) {
  .brand-img {
    margin: 8px;
    height: 250px;
  }
}

.category-circle:not(.loader) {
  border-radius: 18px;
  width: 73px;
  height: 73px;
  margin: 0 auto;
  /* border: 3px solid #ddd; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.catimg {
  background-color: #f1f1f1 !important;
}

.catname {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 14px;
}

.searchcont {
  padding-left: 7px;
  padding-right: 7px;
}

.home-searchbar-box {
  padding-right: 7px;
  padding-left: 7px;
}


.category-view-all {
  font-size: 12px;
}

.category-types {
  font-size: 12px;
}

.category-image-container {
  border-radius: 15px;
}

.category-image {
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
  padding: 0;
position: relative;
mask-image: linear-gradient(to bottom, black 0%, rgb(0 0 0 / 30%) 100%);
-webkit-mask-image: linear-gradient(to bottom, black 0%, rgb(0 0 0 / 30%) 100%);
background-color: #272727 !important; 
height: 100% !important;
  
}



.mygradcolo {
  display:inline-block;
  
}