<app-shop-header [showSearch]="true" [showMenu]="true" [showCart]="true" [pageTitle]="title.getTitle()"
  [showLogo]="true">
</app-shop-header>

<!-- <ion-header class="ion-no-border">
  <ion-toolbar fixed>
    <div slot="start" class="hide-xs-only show-sm-up">
      <div class="logo">
        <img src="./assets/imgs/icon.png" />
        <h2>{{ 'APP_NAME' | translate }}</h2>
      </div>
    </div>

    <div>
      <ion-searchbar mode="ios" showCancelButton="never" (ionBlur)="onBlurSearchInput()" (ionClear)="onClearSearch()"
        (ionInput)="onSearch($event)" (keyup)="onSubmitSearch($event)" [placeholder]="'SEARCH_PLACEHOLDER' | translate">
      </ion-searchbar>
    </div>

  </ion-toolbar>
</ion-header> -->

<ion-content #container scrollEvents="true">

  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}"
      refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <!-- Autocomplete -->

  <!-- <div slot="fixed" style="left: 16px; right: 16px">
    <ion-grid class="relative" fixed *ngIf="suggestions.length">
      <ion-list lines="none" no-margin class="shadow autocomplete" [@staggerIn]="suggestions.length">
        <ion-item class="hover" button detail="false" style="--min-height: 70px;"
          *ngFor="let suggestion of suggestions;trackBy:trackByFn" (click)="this.suggestions = [];"
          [routerLink]="['./items/' + suggestion.slug]">
          <ion-label>
            <ion-text color="dark">
              <span class="link bold text-secondary">
                {{ suggestion.name }}
              </span>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-grid>
  </div> -->

  <ion-grid class="ion-no-padding" fixed>

    <empty-view *ngIf="isErrorViewVisible" icon="alert-circle-outline" [text]="'ERROR_DATA' | translate">
    </empty-view>

    <empty-view *ngIf="isEmptyViewVisible" icon="alert-circle-outline" [text]="'EMPTY_DATA' | translate">
    </empty-view>

    <div *ngIf="isContentViewVisible">

      <!-- Top Slide List -->

      <div class="ion-padding-vertical">
        <ion-slides (ionSlidesDidLoad)="onSlidesDidLoad()" (ionSlideWillChange)="onSlidesDidChange()"
          [options]="slidesConfig">
          <ion-slide *ngFor="let slide of slides;trackBy:trackByFn">
            <div class="ion-activatable full-width" (click)="onSlideTouched(slide)">
              <div class="slide-img" [ngStyle]="{'background-image': 'url(' + slide.image?.url() + ')'}">
                <ion-ripple-effect type="bounded"></ion-ripple-effect>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </div>
      
      <!-- Currently Commented -->

      <!-- Combo Items List-->

      <div class="ion-no-padding">
        <ion-row class="scrollable ion-no-margin"
          style="padding-top: 7px; padding-bottom:5px; padding-right: 15px; padding-left: 15px; ">
          <ion-col size="4" float-start *ngFor="let item of comboItems">
            <combo-item-box [item]="item" [customObservable]="loadAndScroll"
              [routerLink]="['./combo-items/' + item.slug]">
            </combo-item-box>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="isContentViewVisible" class="seperatorcont">
        <div class="seperatordiv"></div>
      </div>
      <!-- <div class="home-searchbar-box">
        <ion-searchbar color="secondary" mode="ios" [placeholder]="'SEARCHCAT_PLACEHOLDER' | translate"
          (ionInput)="onSearchCat($event)">
        </ion-searchbar>
      </div> -->

      <!-- NEW GRID Category List -->

      <ion-row class="ion-margin-vertical" *ngIf="isContentViewVisible" [@staggerIn]="categories.length" style="    padding-left: 7px;
            padding-right: 7px;
            margin-top: 0px;">

        <ion-col size-xs="6" class="ion-text-center" *ngFor="let category of categories" style="    padding: 12px;
              height: 175px !important;">
          <div (click)="goToSubCategoryPage(category)">
            <div class="mygradcolo" style="background-color: black;     border-radius: 15px; height: 150px;">
              <img class="category-image" [src]="category.image?.url()">
            </div>
            <ion-text color="dark" style="position: relative;
                  top: -105px;
                  font-weight: bold;
                  color: white;">
              <p class="link margin-6" style="font-size: 20px !important;">
                {{ category.name }}
              </p>
            </ion-text>

          </div>
        </ion-col>


      </ion-row>


      <!-- NEW GRID Category List -->


      <!-- Category List -->

      <!-- <div class="ion-padding-top" *ngIf="categories.length">

        <ion-row class="scrollable no-shadow" [@staggerIn]="categories.length" style="padding-top: 10px;">

          <ion-col size-xs="3" class="all-categories ion-text-center" [routerLink]="['./categories']">

            <div class="vl-item category-circle">
              <ion-icon color="primary" class="all-category-icon" src="assets/Haseed/ALLCATEGORIES.svg">
              </ion-icon>
            </div>

            <ion-text color="primary">
              <p class="ion-text-center">
                {{ 'VIEW_CATS' | translate }}
              </p>
            </ion-text>
          </ion-col>

          <ion-col class="all-categories pt-2 mr-4 ion-text-center" size-xs="2.75" *ngFor="let category of categories"
            (click)="onCategoryTouched(category)">
            <div class="ac-item category-circle catimg" defaultImage="./assets/imgs/placeholder.png" [offset]="250"
              [lazyLoad]="category.imageThumb?.url()" [customObservable]="loadAndScroll"></div>

            <ion-text color="medium">
              <p class="ion-text-center catname">
                {{ category.name }}
              </p>
            </ion-text>

          </ion-col>
        </ion-row>

      </div> -->

      <!--- Search Bar Starts Here -->
      <!-- <div class="home-searchbar-box">
        <ion-searchbar color="secondary" mode="ios" [placeholder]="'SEARCH_PLACEHOLDER' | translate"
          (ionInput)="onSearch($event)" (ionClear)="onClearSearch()">
        </ion-searchbar>
      </div> -->

      <!-- Brand List -->

      <!-- <div *ngIf="brands.length">

        <ion-row class="ion-padding ion-align-items-center">
          <ion-col>
            <h3 class="ion-no-margin">
              {{ 'BRANDS' | translate }}
            </h3>
          </ion-col>
          <ion-col class="ion-text-end">
            <ion-button class="bold no-shadow ion-text-capitalize" round color="secondary" [routerLink]="['./brands']">
              {{ 'VIEW_ALL' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-slides class="show-xs-only show-sm-only hide-md-up ion-margin-vertical"
          (ionSlidesDidLoad)="onSlidesBrandsLoaded()" (ionSlideWillChange)="onSlidesBrandsChange()"
          [options]="slidesBrandsConfig">
          <ion-slide *ngFor="let brand of brands;trackBy:trackByFn">
            <div class="full-width" [routerLink]="['./items']" [queryParams]="{ brand: brand.id }">
              <div class="brand-img" [style.background-image]="'url(' + brand.image?.url() + ')'"></div>
              <ion-text color="dark">
                <p class="link text-normal">
                  {{ brand.name }}
                </p>
              </ion-text>
            </div>
          </ion-slide>
        </ion-slides>

        <div class="hide-xs-only hide-sm-only show-md-up">
          <ion-row class="ion-padding" [@staggerIn]="brands.length">
            <ion-col class="ion-text-center" size-xs="4" size-md="3" *ngFor="let brand of brands;trackBy:trackByFn">
              <div [routerLink]="['./items']" [queryParams]="{ brand: brand.id }">
                <div class="brand-img" defaultImage="./assets/imgs/placeholder.png" [offset]="300"
                  [lazyLoad]="brand.image?.url()" [customObservable]="loadAndScroll"></div>
                <ion-text color="dark">
                  <p class="link text-normal">
                    {{ brand.name }}
                  </p>
                </ion-text>
              </div>
            </ion-col>
          </ion-row>
        </div>

      </div> -->

      <!-- On Sale -->

      <!-- <section class="ion-margin-vertical" *ngIf="itemsOnSale.length">

        <ion-row class="ion-align-items-center ion-padding-horizontal">
          <ion-col size="6" class="ion-text-start">
            <h3 class="ion-no-margin">
              {{ 'ON_SALE' | translate }}
            </h3>
          </ion-col>
          <ion-col size="6" class="ion-text-end">
            <ion-button class="bold no-shadow ion-text-capitalize" round color="secondary" [routerLink]="['./items']"
              [queryParams]="{ sale:'1' }">
              {{ 'VIEW_ALL' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>

        <div class="ion-margin-vertical">

          <ion-slides class="show-xs-only hide-sm-up ion-margin-vertical"
            (ionSlideWillChange)="onSlidesItemsOnSaleChange()" (ionSlidesDidLoad)="onSlidesItemsOnSaleLoaded()"
            [options]="slidesItemsConfig">
            <ion-slide *ngFor="let item of itemsOnSale;trackBy:trackByFn">
              <app-shop-item [item]="item" [customObservable]="slidesItemsOnSaleObservable"
                [routerLink]="['./items/' + item.slug]"></app-shop-item>
            </ion-slide>
          </ion-slides>

          <div class="ion-padding hide-xs-only show-sm-up">
            <ion-row>
              <ion-col size-sm="4" size-md="3" *ngFor="let item of itemsOnSale;trackBy:trackByFn">
                <app-shop-item [item]="item" [customObservable]="loadAndScroll" [routerLink]="['./items/' + item.slug]">
                </app-shop-item>
              </ion-col>
            </ion-row>
          </div>

        </div>

      </section> -->

      <!-- New Arrival -->

      <!-- <section class="ion-margin-vertical" *ngIf="itemsNewArrival.length">

        <ion-row class="ion-align-items-center ion-padding-horizontal">
          <ion-col size="6" class="ion-text-start">
            <h3 class="ion-no-margin">
              {{ 'NEW_ARRIVAL' | translate }}
            </h3>
          </ion-col>
          <ion-col size="6" class="ion-text-end">
            <ion-button class="bold no-shadow ion-text-capitalize" round color="secondary" [routerLink]="['./items']"
              [queryParams]="{ new:'1' }">
              {{ 'VIEW_ALL' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>

        <div class="ion-margin-vertical">

          <ion-slides class="show-xs-only hide-sm-up ion-margin-vertical"
            (ionSlideWillChange)="onSlidesItemsNewArrivalChange()" (ionSlidesDidLoad)="onSlidesItemsNewArrivalLoaded()"
            [options]="slidesItemsConfig">
            <ion-slide *ngFor="let item of itemsNewArrival;trackBy:trackByFn">
              <app-shop-item [item]="item" [customObservable]="slidesItemsNewArrivalObservable"
                [routerLink]="['./items/' + item.slug]"></app-shop-item>
            </ion-slide>
          </ion-slides>

          <div class="ion-padding hide-xs-only show-sm-up">
            <ion-row>
              <ion-col size-sm="4" size-md="3" *ngFor="let item of itemsNewArrival;trackBy:trackByFn">
                <app-shop-item [item]="item" [customObservable]="loadAndScroll" [routerLink]="['./items/' + item.slug]">
                </app-shop-item>
              </ion-col>
            </ion-row>
          </div>

        </div>

      </section> -->

      <!-- Featured -->

      <!-- <section class="ion-margin-vertical" *ngIf="itemsFeatured.length">

        <ion-row class="ion-align-items-center ion-padding-horizontal">
          <ion-col size="6" class="ion-text-start">
            <h3 class="ion-no-margin">
              {{ 'FEATURED' | translate }}
            </h3>
          </ion-col>
          <ion-col size="6" class="ion-text-end">
            <ion-button class="bold no-shadow ion-text-capitalize" round color="secondary" [routerLink]="['./items']"
              [queryParams]="{ featured:'1' }">
              {{ 'VIEW_ALL' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>

        <div class="ion-margin-vertical">

          <ion-slides class="show-xs-only hide-sm-up ion-margin-vertical"
            (ionSlideWillChange)="onSlidesItemsFeaturedChange()" (ionSlidesDidLoad)="onSlidesItemsFeaturedLoaded()"
            [options]="slidesItemsConfig">
            <ion-slide *ngFor="let item of itemsFeatured;trackBy:trackByFn">
              <app-shop-item [item]="item" [customObservable]="slidesItemsFeaturedObservable"
                [routerLink]="['./items/' + item.slug]"></app-shop-item>
            </ion-slide>
          </ion-slides>

          <div class="ion-padding hide-xs-only show-sm-up">
            <ion-row>
              <ion-col size-sm="4" size-md="3" *ngFor="let item of itemsFeatured;trackBy:trackByFn">
                <app-shop-item [item]="item" [customObservable]="loadAndScroll" [routerLink]="['./items/' + item.slug]">
                </app-shop-item>
              </ion-col>
            </ion-row>
          </div>

        </div>

      </section> -->

      <!-- Random items -->

      <!-- <ion-row class="ion-align-items-center ion-padding-horizontal">
        <ion-col size="6" class="ion-text-start">
          <h3 class="ion-no-margin">
            {{ 'MORE_ITEMS' | translate }}
          </h3>
        </ion-col>
        <ion-col size="6" class="ion-text-end">
          <ion-button class="bold no-shadow ion-text-capitalize" round color="secondary" [routerLink]="['./items']">
            {{ 'VIEW_ALL' | translate }}
          </ion-button>
        </ion-col>
      </ion-row> -->

      <!-- <div class="ion-margin-vertical" style="padding:0px 5px 0px 5px;">
        <ion-row>
          <ion-col size-xs="4" size-sm="4" size-md="3" *ngFor="let item of items">
            <app-shop-item [item]="item" [customObservable]="loadAndScroll" [routerLink]="['./items/' + item.slug]">
            </app-shop-item>
          </ion-col>
        </ion-row>
      </div> -->

      <!-- <ion-infinite-scroll (ionInfinite)="onLoadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll> -->

    </div>

    <section *ngIf="isLoadingViewVisible">

      <div class="ion-padding-vertical">
        <ion-row class="ion-nowrap ion-text-center">
          <ion-col size-xs="3.7" *ngFor="let item of skeletonArray">
            <ngx-skeleton-loader count="1" appearance="circle"
              [theme]="{ 'border-radius': '15px',  width: '100px', height: '100px' }">
            </ngx-skeleton-loader>
          </ion-col>
        </ion-row>
      </div>
      <div class="ion-padding-vertical">
        <ion-row class="ion-nowrap ion-text-center">
          <ion-col size-xs="10" *ngFor="let item of skeletonArray">
            <ngx-skeleton-loader count="1" appearance="circle"
              [theme]="{ 'border-radius': '15px',  width: '100%', height: '5px' }">
            </ngx-skeleton-loader>
          </ion-col>
        </ion-row>
      </div>
      <div class="ion-padding-vertical">
        <ion-row class="ion-nowrap ion-text-center">
          <ion-col size-xs="6" *ngFor="let item of skeletonArray">
            <ngx-skeleton-loader count="3" appearance="circle"
              [theme]="{ 'border-radius': '15px',  width: '150px', height: '150px' }">
            </ngx-skeleton-loader>
          </ion-col>
        </ion-row>
      </div>


    </section>

  </ion-grid>

</ion-content>