<app-shop-header [pageTitle]="title.getTitle()" [canGoBack]="true"></app-shop-header>

<ion-content>

  <ion-grid fixed>

    <empty-view *ngIf="isErrorViewVisible" icon="alert-circle-outline" [text]="'ERROR_DATA' | translate">
    </empty-view>

    <empty-view *ngIf="isEmptyViewVisible" image="./assets/imgs/undraw_add_to_cart_vkjp.svg" imageWidth="120"
      [text]="'CART_EMPTY' | translate">
    </empty-view>

    <form [formGroup]="form" #ngForm="ngForm" (ngSubmit)="onPlaceOrder()" novalidate *ngIf="isContentViewVisible" class="chekoutform">

      <ion-row *ngIf="isContentViewVisible">
        <ion-col size-xs="12" size-lg="7">

          <div class="alert alert-warning" *ngIf="minimumOrderAmount && cart?.subtotal < minimumOrderAmount">
            {{ 'ERROR_MINIMUM_ORDER_AMOUNT' | translate: { value: (minimumOrderAmount | currencyGlobal) } }}
          </div>

          <div class="alert alert-warning" *ngIf="maximumOrderAmount && cart?.subtotal > maximumOrderAmount">
            {{ 'ERROR_MAXIMUM_ORDER_AMOUNT' | translate: { value: (maximumOrderAmount | currencyGlobal) } }}
          </div>
          <!-- 
          <ion-item-group class="ion-margin-vertical">
            <ion-list-header class="ion-no-padding">
              <ion-label class="ion-text-capitalize cart-page-input-label">{{ 'EMAIL' | translate }}</ion-label>
            </ion-list-header>
            <ion-list class="cart-page-input ion-no-padding">
              <ion-input class="ion-text-center" type="text" formControlName="contactEmail"
                placeholder="{{ 'CONTACT_EMAIL' | translate }}" style="font-size: 14px;"></ion-input>
            </ion-list>
          </ion-item-group> -->

          <!-- <ion-item-group class="ion-margin-vertical">
            <ion-list-header class="ion-margin-bottom bold">
              <h5>{{ 'PAYMENT' | translate }}</h5>
            </ion-list-header>
            <ion-list lines="none" class="ion-no-padding ion-no-margin">

              <p class="text-medium ion-padding-horizontal ion-no-margin" *ngIf="!isCardEnabled && !isCodEnabled">
                {{ 'PAYMENT_METHOD_NOT_FOUND' | translate }}
              </p>

              <ion-radio-group mode="md" (ionChange)="onChangePaymentMethod($event)" formControlName="paymentMethod">
                <ion-item *ngIf="isCodEnabled">
                  <ion-label>
                    <p>{{ 'CASH' | translate }}</p>
                  </ion-label>
                  <ion-radio value="Cash"></ion-radio>
                </ion-item>
                <ion-item lines="none" *ngIf="isCardEnabled">
                  <ion-label>
                    <p>{{ 'CREDIT_DEBIT_CARD' | translate }}</p>
                  </ion-label>
                  <ion-radio value="Card"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>

            <ion-list [hidden]="paymentMethodField.value !== 'Card'">
              <ion-radio-group mode="md" formControlName="card">
                <ion-item *ngFor="let card of cards">
                  <ion-label class="flex align-items-center">
                    &nbsp;&nbsp;&nbsp;&nbsp;<img src="./assets/imgs/{{card.formatBrand()}}.png" width="30" />
                    &nbsp;&nbsp;<span class="text-medium" [innerHTML]="card"></span>
                  </ion-label>
                  <ion-radio [value]="card" color="dark"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-button strong type="button" class="ion-text-capitalize" size="small"
                    (click)="onPresentCardAddModal()">
                    {{ 'ADD_CARD' | translate }}
                  </ion-button>
                </ion-item>
              </ion-radio-group>
            </ion-list>

          </ion-item-group> -->

          <ion-item-group>
              <ion-label class="ion-text-capitalize cart-page-input-label">{{ 'NAME' | translate }}</ion-label>
            <ion-list class="cart-page-input ion-no-padding">
              <ion-input class="ion-text-center" type="text" formControlName="name" value=""
                placeholder="{{ 'WRITE_NAME' | translate }}" style="font-size: 14px;"></ion-input>
            </ion-list>
          </ion-item-group>


          <ion-item-group>
              <ion-label class="ion-text-capitalize cart-page-input-label">{{ 'PHONE' | translate }}</ion-label>
            <ion-list class="cart-page-input ion-no-padding">
              <ion-input class="ion-text-center" type="text" formControlName="contactNumber"
                placeholder="{{ 'CONTACT_NUMBER' | translate }}" style="font-size: 14px;"></ion-input>
            </ion-list>
          </ion-item-group>

          <!-- <ion-item-group>
            <ion-list-header class="ion-margin-bottom bold">
              <h5>{{ 'SHIPPING' | translate }}</h5>
            </ion-list-header>

            <ion-list class="ion-no-padding">
              <ion-radio-group mode="md" formControlName="shipping" (ionChange)="onChangeAddress()">
                <ion-item *ngFor="let address of addresses">
                  <ion-label>
                    <p>
                      <ion-text color="dark">
                        {{ address }}
                      </ion-text>
                    </p>
                  </ion-label>
                  <ion-radio [value]="address" color="dark"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-button strong type="button" class="ion-text-capitalize" size="small"
                    (click)="onPresentAddressAddModal()">
                    {{ 'ADD_NEW_ADDRESS' | translate }}
                  </ion-button>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-item-group> -->



          <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <!-- <ion-col size="6" class="s-p-le" style="padding-left: 3px !important;">
                <ion-item-group>
                    <ion-label class="ion-text-capitalize cart-page-input-label">{{ 'ZONE' | translate }}</ion-label>
                  <ion-list class="cart-page-input ion-no-padding" style="border-radius: 10px;
                  height: 40px;">
                    <ion-select class="ion-text-center" mode="ios" interface="popover" (ionChange)="onZoneChanged()"
                      formControlName="zone" placeholder="{{ 'CHOSE_ZONE' | translate }}">
                      <ion-select-option *ngFor="let zone of zones" [value]="zone" style="font-size: 14px;">
                        {{ zone.name }}
                      </ion-select-option>
                    </ion-select>
                  </ion-list>
                </ion-item-group>
              </ion-col> -->

              <ion-col size="12" class="s-p-ri" style="padding-right: 3px !important;">
                  <ion-item-group>
                    <ion-label class="ion-text-capitalize cart-page-input-label">{{ 'DELIVERY_TIME' | translate }}
                    </ion-label>
                  <ion-list class="cart-page-input ion-no-padding">
                    <ion-select class="ion-text-center" mode="ios" interface="action-sheet" formControlName="deliverytime"
                      placeholder="{{ 'CHOSE_DELIVERY_TIME' | translate }}">
                      <ion-select-option *ngFor="let time of deliverytimes" [value]="time.time" style="font-size: 14px;">
                        {{time.time }}
                      </ion-select-option>
                    </ion-select>
                  </ion-list>
                </ion-item-group>
              </ion-col>
             
              <ion-col style="margin-top: 12px;" size="12" *ngIf="config?.checkout?.isTodayTomEnable">
                <ion-item-group>
                  <ion-row>
                    <ion-col size="6">
                      <ion-button shape="round" size="large" class="float-right text-large"
                        [ngClass]="day === 'اليوم' ? 'btn-disabled-day' : 'btn-checkout-day'" (click)="changeDay('اليوم')">
                        <ion-text style="color: white; font-weight: 900; font-size: 16px;">{{
                          'TODAY' | translate }}</ion-text>
                      </ion-button>
                    </ion-col>
                    <ion-col size="6">
                      <ion-button shape="round" size="large" class="btn-checkout float-right text-large"
                        [ngClass]="day === 'غداً' ? 'btn-disabled-day' : 'btn-checkout-day'" (click)="changeDay('غداً')">
                        <ion-text style="color: white; font-weight: 900; font-size: 16px;">{{
                          'TOMORROW' | translate }}</ion-text>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-item-group>
              </ion-col>
              <!-- <ion-col size="1"></ion-col>
              <ion-col class="ion-no-padding">
                <ion-item-group>

                  <ion-list-header class="ion-no-padding">
                    - <ion-label class="ion-text-capitalize cart-page-input-label" style="text-align: right;">
                      {{ 'SUBZONE' | translate }}
                    </ion-label>
                  </ion-list-header>

                  <ion-list class="cart-page-input ion-no-padding" style="border-radius: 10px;
                  height: 40px;">
                    <ion-select class="ion-text-center" mode="ios" interface="popover" formControlName="subzone"
                      placeholder="{{ 'CHOSE_SUBZONE' | translate }}" (ionChange)="onSubZoneChanged()">
                      <ion-select-option *ngFor="let subzone of subzones" [value]="subzone" style="font-size: 14px;">
                        {{ subzone.name }}
                      </ion-select-option>
                    </ion-select>
                  </ion-list>
                </ion-item-group>
              </ion-col> -->
            </ion-row>
          </ion-grid>

         
            

          <ion-item-group>
              <ion-label class="ion-text-capitalize cart-page-input-label">{{ 'ORDER_NOTES' | translate }}</ion-label>
            <ion-list class="cart-page-input" class="ion-no-padding">
              <ion-textarea class="cart-page-input ion-text-center" style="height: auto !important;" rows="3" formControlName="address"
                placeholder="{{'YOUR_ORDER_NOTES' | translate}}"></ion-textarea>
            </ion-list>
          </ion-item-group>

        </ion-col>

       
          


        <ion-col size-xs="12" size-lg="5">
          <!-- 
          <ion-list-header class="bold ion-margin-top">
            <h5>{{ 'ORDER_SUMMARY' | translate }}</h5>
          </ion-list-header> -->

            <ion-label class="cart-page-input-label">
              <h5 class="bold">{{ 'COUPON' | translate }}</h5>
            </ion-label>
          <ion-list class="text-medium item-input ion-no-margin" lines="none">
            <ion-input class="cart-page-input ion-text-center" type="text" formControlName="couponCode"
              [placeholder]="'COUPON_PLACEHOLDER' | translate">
            </ion-input>
          </ion-list>

          <ion-button style="min-width: 140px;" (click)="onApplyCouponButtonTouched()"
            [disabled]="isUpdatingCart || isCreatingOrder" style="min-width: 140px;margin-right: 0px; margin-top: 0px; height: 40px; color: white !important; font-weight: bold; --background: #4b4f5f !important; background: #4b4f5f !important;
            border-radius: 10px;">
            <span class="text-medium" style="color: white !important;">{{ 'APPLY_COUPON' | translate }}</span>
          </ion-button>

          <ion-item color="light" *ngIf="cart?.coupon" [class.opacity-medium]="isUpdatingCart">
            <ion-label>
              {{ 'COUPON' | translate }}: {{ cart?.coupon?.name }}
            </ion-label>
            <ion-button slot="end" (click)="onRemoveCoupon()" fill="clear" color="primary"
              [disabled]="isUpdatingCart || isCreatingOrder">
              <span class="ion-text-capitalize text-small">
                {{ 'REMOVE_COUPON' | translate }}
              </span>
            </ion-button>
          </ion-item>

          <div class="bg-light radius ion-padding ion-margin-top">

            <!-- <ion-item-group class="ion-margin-vertical">

              <ion-item style="--padding-start:0" color="light" [lines]="last ? 'none' : 'full'"
                *ngFor="let item of cart?.items; let last = last">
                <ion-thumbnail slot="start" *ngIf="item.featuredImageThumb">
                  <img src-fallback="./assets/imgs/placeholder.png" [src]="item.featuredImageThumb?.url()" />
                </ion-thumbnail>
                <ion-row class="full-width">
                  <ion-col>
                    <ion-label>
                      <p class="text-normal ellipsis mb-8">
                        {{ item.qty }} x {{ item.name }}
                      </p>
                    </ion-label>
                  </ion-col>
                </ion-row>
                <div slot="end">

                  <p class="text-medium" *ngIf="item.hasOwnProperty('finalAmount'); else showOnlyAmount">
                    <span *ngIf="item.amount > item.finalAmount">
                      <ion-text color="medium">
                        <s class="text-small">
                          {{ item.amount | currencyGlobal }}
                        </s>
                      </ion-text>
                      <br />
                      <span>
                        {{ item.finalAmount | currencyGlobal }}
                      </span>
                    </span>
                    <span *ngIf="item.amount <= item.finalAmount">
                      <span>{{ item.finalAmount | currencyGlobal }}</span>
                    </span>
                  </p>

                  <ng-template #showOnlyAmount>
                    <p class="text-medium">
                      {{ item.amount | currencyGlobal }}
                    </p>
                  </ng-template>

                </div>
              </ion-item>

            </ion-item-group> -->

            <ion-row [class.opacity-medium]="isUpdatingCart">
              <ion-col class="ion-text-nowrap">
                <p>{{ 'SUBTOTAL' | translate }}</p>
                <p>{{ 'SHIPPING_FEE' | translate }}</p>
              </ion-col>
              <ion-col class="ion-text-end">
                <p>{{ cart?.subtotal | currencyGlobal }}</p>
                <p *ngIf="shippingfee">{{ shippingfee | currencyGlobal }}</p>
                <p *ngIf="!shippingfee">{{ 0 | currencyGlobal }}</p>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>

    </form>

    <ion-row class="ion-margin" *ngIf="isLoadingViewVisible">
      <ion-col size-xs="12" size-lg="8">
        <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '120px', width: '100%' }">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '120px', width: '100%' }">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '240px', width: '100%' }">
        </ngx-skeleton-loader>
      </ion-col>
      <ion-col size-xs="12" size-lg="4">
        <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '270px', width: '100%' }">
        </ngx-skeleton-loader>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<!-- <ion-footer>
  <div class="ion-padding">
    <div class="ion-text-start ion-float-start">
      <ion-button type="submit" class="ion-text-uppercase cart-page-button" strong shape="round" color="primary"
        [disabled]="isUpdatingCart || isCreatingOrder">
        <ion-spinner color="light" *ngIf="isCreatingOrder"></ion-spinner>
        <ion-text color="light" *ngIf="!isCreatingOrder">{{ 'PLACE_ORDER' | translate }}</ion-text>
      </ion-button> -->
      <!-- <p><small>{{ 'TRANSACTION_NOTICE' | translate }}</small></p>
      <img src="./assets/imgs/mastercard.png" width="40" />
      <img src="./assets/imgs/visa.png" width="40" />
      <img src="./assets/imgs/american_express.png" width="40" /> -->
    <!-- </div>
    <div class="ion-text-end ion-float-end">
      <ion-text>
        <p class="ion-no-margin">{{ 'TOTAL' | translate }}</p>
        <p class="ion-no-margin text-large">{{ cart?.total | currencyGlobal }}</p>
      </ion-text>
    </div>
  </div>

</ion-footer> -->



<!-- CART CHECKOUT  -->
<ion-footer style="direction: ltr !important; height: 78px;">
  <ion-grid>
    <ion-row align-items-center class="checkout-footer-row" style="padding: 10px;">
      <ion-col>


        <ion-button type="submit" shape="round" size="large" class="btn-checkout float-right text-large" color="primary"        
        [disabled]="isUpdatingCart || isCreatingOrder" (click)="onPlaceOrder()">
        <ion-spinner color="light" *ngIf="isCreatingOrder"></ion-spinner>
        <ion-text style="color: white; font-weight: 900; font-size: 16px;" *ngIf="!isCreatingOrder">{{ 'PLACE_ORDER' | translate }}</ion-text>
       </ion-button>


      </ion-col>
      <ion-col class="cart-total-col" style="text-align: right; padding-right: 12px !important;">
        <div class="cart-total" color="light">
          <span style="color: #444444 !important;">{{ 'TOTAL' | translate }}</span>
          <!-- <p>{{ cart?.total | currencyGlobal }}</p> -->
          <p class="ion-no-margin text-large" *ngIf="!shippingfee">{{ cart?.subtotal | currencyGlobal }}</p>
          <p class="ion-no-margin text-large" *ngIf="shippingfee">{{ shippingfee + cart?.subtotal | currencyGlobal }}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>