ion-content {
  --background: var(--ion-color-light);
}

ion-grid {
  background: #fff;
}

.item-input {
  --border-color: var(--ion-color-medium);
  --border-style: solid;
  --border-width: 1px !important;
}

@media (max-width: 991px) {
  ion-grid,
  ion-grid > ion-row > ion-col {
    padding: 0 !important;
  }
}

@media (max-width: 991px) {
  ion-grid,
  ion-grid > ion-row > ion-col {
    padding: 0 !important;
  }
}

.cart-page-input {
  background: #f0f1f5 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  height: 40px !important;
  line-height: 20px;
}

.cart-page-input-label {
  text-align: right;
  font-weight: 300;
  font-size: 14px !important;
  color: #b7b7b7;
}

.cart-page-button {
  color: #fff;
  width: 202px;
  height: 40px;
  background: #17d35d 0% 0% no-repeat padding-box;
  border-radius: 12px;
}

.chekoutform {
  padding-left: 12px;
  padding-right: 12px;

}


.s-p-le {
  padding-left: 3px !important;
}

.s-p-ri {
  padding-right: 3px !important;
}

.btn-checkout {
  width: 95%;
  background: #17D35D 0% 0% no-repeat padding-box;
  --background: #17D35D 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
}

.btn-checkout-day {
  width: 95%;
  --background: #cacdd9 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
}

.btn-disabled-day {
  width: 95%;
  background: #17D35D 0% 0% no-repeat padding-box;
  --background: #17D35D 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
}

.btn-disabled {
  width: 95%;
  --background: #6e7671 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
}

.cart-price-box {
  p {
      margin: 0;
      font-size: 20px;
      .dollar {
          font-size: 14px;
      }
  }
  span {
      line-height: 10px;
      font-size: 10px;
  }
}

.cart-total {
  color: #d64356 !important;
  direction: rtl !important;
  text-align: right !important;
  height: 80px;
  margin-left: 10%;
  >span {
      font-size: 15px;
      opacity: 0.5;
  }
  p {
      margin: 0;
      padding: 0;
      font-size: 20px;
      line-height: 20px;
      font-weight: bold;
      span {
          font-size: 15px;
      }
  }
}