

.header-title {
    font-size: 1.31rem;
}

.center-title-img {
    position: absolute;
    transform: translate(-50%, -50%);
}


.header-search {
    .sc-ion-searchbar-ios-h {
        padding-top: unset !important;
        padding-bottom: unset !important;
    }
}

ion-button {
    --box-shadow: none;
    ion-badge {
        position: absolute;
        opacity: 0.9;
        top: 0.1rem;
        left: 1rem;
    }
    box-shadow: none !important;
}


.headerbadge {
    background: #d64356 !important;
    color: white !important;
}



    .shop-header {
        direction: ltr !important; 
        padding-top: 10px; 
        padding-bottom: 10px; 
        padding-right: 5px; 
        padding-left: 5px;

    }


    .header-md::after {
        display: none !important;
    }
    
    .header-ios ion-toolbar:last-of-type {
        --border-width: 0 0 0px !important;
    }