<ion-header class="ion-no-border" class="shop-header" >
  <ion-toolbar class="color-bg ion-no-padding ion-no-margin ion-no-border" fixed mode="ios" >
    <ion-buttons slot="start">
      <ng-content></ng-content>
      <ion-button *ngIf="canGoBack" style="font-size: 14px;" color="isGreenBg" (click)="goback()">
        <ion-icon src="assets/Haseed/NavbarBack.svg"></ion-icon>
      </ion-button>

      <ion-menu-toggle *ngIf="showMenu">
        <ion-button color="primary" style="font-size: 14px;">
          <ion-icon class="header-icon" src="assets/Haseed/NavbarSidemenu.svg"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title *ngIf="showLogo"><img class="center-title-img" src="assets/Haseed/splash/NavbarLogoSmall.png">
    </ion-title>
    <ion-title class="header-title" color="primary" style="font-size: 16px;" *ngIf="!showLogo">{{pageTitle}}</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" style="font-size: 14px;" *ngIf="showLike" (click)="isLiked = !isLiked; onLike.emit(isLiked)">
        <ion-icon class="header-icon" style="font-size: 20px;"  [src]="isLiked ? 'assets/Haseed/NavbarHeartActive.svg' : 'assets/Haseed/NavbarHeart.svg'"
          slot="icon-only">
        </ion-icon>
      </ion-button>
      <ion-button color="primary" style="font-size: 13px;" *ngIf="showSearch" (click)="goToItemPage($event)">
        <ion-icon style="font-size: 20px;" src="assets/Haseed/NavbarSearch.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="showCart" style="font-size: 17px;" (click)="goToCartPage()">
        <ion-icon class="header-icon" src="assets/Haseed/NavbarCart.svg" style="margin-right: 1.2rem;"></ion-icon>
        <!-- <ion-badge class="red-badge" *ngIf="preference.cartCount">
          {{ preference.cartCount || 0 }}
        </ion-badge> -->
        <ion-badge class="headerbadge" *ngIf="preference.cartCount">
          {{ preference.cartCount }}
        </ion-badge>
      </ion-button>
    </ion-buttons>
    <!-- <ion-toolbar [hidden]="!isSearchOn" class="header-search">
      <ion-searchbar (search)="SearchBy($event)"></ion-searchbar>
  </ion-toolbar> -->

  </ion-toolbar>
</ion-header>