<!-- <ion-header class="ion-no-border">
    <ion-toolbar fixed>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> -->
<app-shop-header [showSearch]="true" [canGoBack]="true" [showCart]="true" [pageTitle]="title.getTitle()">
</app-shop-header>

<ion-content scrollEvents="true" #container>

    <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
        <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}"
            refreshingText="{{ 'REFRESHING' | translate }}">
        </ion-refresher-content>
    </ion-refresher>

    <ion-grid fixed>

        <empty-view *ngIf="isErrorViewVisible" icon="alert-circle-outline" [text]="'ERROR_DATA' | translate">
        </empty-view>

        <empty-view *ngIf="isEmptyViewVisible" icon="alert-circle-outline" [text]="'EMPTY_DATA' | translate">
        </empty-view>
<!-- 
        <ion-row class="ion-align-items-center">
            <ion-col size="8" class="ion-text-start">
                <ion-button class="bold no-shadow ion-text-capitalize" round color="primary" style="height: 33px;" (click)="onViewAll()">
                    <ion-text class="category-view-all" color="light">
                        {{ 'VIEW_ALL' | translate }}
                    </ion-text>
                </ion-button>
            </ion-col>
            <ion-col size="4" class="ion-text-end">
                <h4 class="category-types ion-no-margin">
                    {{'CATEGORIES' | translate}}: {{ category.subCategoryCount }}
                </h4>
            </ion-col>
        </ion-row>

        <ion-row style="border-bottom: 1px solid #7b7b7b2e;">
            <ion-col size="12" class="category-image-container">
                <img class="category-image" [src]="category.image?.url()">
            </ion-col>
        </ion-row> -->

        <ion-row class="ion-margin-vertical" *ngIf="isContentViewVisible" [@staggerIn]="subcategories.length">

            <ion-col size-xs="4" class="ion-text-center" [routerLink]="['../items']"
                [queryParams]="{ subcat: category.id }" *ngFor="let category of subcategories;trackBy:trackByFn">
                <!-- <div class="bg-img" defaultImage="./assets/imgs/placeholder.png" [lazyLoad]="category.imageThumb?.url()"
          [customObservable]="loadAndScroll"></div> -->
                <img class="category-image" style="background-color: #f1f1f1 !important; height: 110px !important;" [src]="category.imageThumb?.url()">

                <ion-text color="dark">
                    <p class="link margin-6 text-medium">
                        {{ category.name }}
                    </p>
                </ion-text>
            </ion-col>

        </ion-row>

        <section *ngIf="isLoadingViewVisible">
            <ion-row class="ion-nowrap text-center">
                <ion-col size-xs="4" size-sm="6" size-md="6" size-lg="2" *ngFor="let item of skeletonArray">
                    <ngx-skeleton-loader count="1" appearance="circle" [theme]="{ width: '60px', height: '60px' }">
                    </ngx-skeleton-loader>
                </ion-col>
            </ion-row>
        </section>

    </ion-grid>

</ion-content>