ion-content {
  --background: var(--ion-color-light);
}

ion-grid {
  background: #fff;
}

@media (min-width: 992px) {
  ion-col {
    margin: 16px 0;
  }
}

.category-view-all {
  font-size: 12px;
}

.category-types {
  font-size: 12px;
}

.category-image-container {
  border-radius: 15px;
}

.category-image {
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
  padding: 0;
}
