.heading {
  // background: var(--ion-color-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.profile-page-container {
  margin: 15px;
  border: 2.5px solid #F1F1F1;
  border-radius: 12px;
}

.profile-avatar {
  width: 58px;
  height: 58px;
  border: 1px solid #707070;
  opacity: 1;
}

.profile-edit-container {
  display: flex;
  flex-direction: row;
  font-size: 12px;

  ion-icon {
    font-size: 19px;
    padding-right: 3px;
  }
}

ion-item {
  --min-height: 64px;
}

ion-avatar {
  img {
    background: var(--ion-color-light);
    display: inline-block;
    max-width: 8.6rem;
    max-height: 8.6rem;
    border-radius: 4.8rem;
    padding: 2px;
  }
}

.custom-line-height {
  line-height: 1.6;
}

.skeleton-item {
  width: auto;
  height: auto;
  margin: 10px auto;
  padding: 10px;

  .wrapper {
    display: inline-flex;
    width: 100%;
    height: auto;
    flex: 1;

    .avatar {
      width: 100px;
      height: 90px;
    }

    .title {
      width: 100%;
      padding: 10px;
      height: 80px;
    }
  }
}

ion-grid {
  padding: 0;
}

@media only screen and (min-width: 768px) {
  ion-grid {
    padding: 16px;
  }

  .heading {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 16px;
  }
}

.profile-text-box {
  clear: both;
}

.profilelist {
    margin-left: 15px;
    margin-right: 15px;
}

.itemheightmin {
  --min-height: 55px !important;
}

.txt-size {
    color: #444444 !important;
    font-size: 15px !important;
}

.profileiconitem {
  font-size: 18px !important;
  margin-left: 15px !important;
}

.profileiconitemsettings {
  font-size: 22px !important;
  margin-left: 15px !important;
}