<app-shop-header [showMenu]="true" [pageTitle]="title.getTitle()" [showSearch]="true"></app-shop-header>

<ion-content>

  <ion-grid fixed>

    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-no-padding" size-xs="12" size-sm size-md size-lg="8">

        <div>
          <div class="profile-page-container">
            <!--   <section class="heading">
              <ion-avatar class="profile-avatar">
                <img src-fallback=" ./assets/imgs/avatar.png" [src]="user?.attributes.photo?.url()" />
              </ion-avatar>
              <ion-text color="dark" class="ion-text-end">
                <h5>{{ user?.attributes.name }}</h5>
                <h5>1120123456456</h5>
                <h5 *ngIf="isGuest">
                  {{ 'GUEST' | translate }}
                </h5>
              </ion-text>

              <div style="width: 150px;" *ngIf="!user || isGuest">
                <ion-button class="ion-margin-top" size="small" expand="block" color="light"
                  (click)="onPresentSignUpModal()" *ngIf="isGuest">
                  {{ 'SIGN_UP' | translate }}
                </ion-button>

                <ion-button class="ion-margin-top" size="small" expand="block" color="light"
                  (click)="onPresentSignInModal()" *ngIf="!user || isGuest">
                  {{ 'LOGIN' | translate }}
                </ion-button>
              </div>

              <div class="profile-edit-container" (click)="onPresentEditModal()" *ngIf="user && !isGuest">
                <ion-icon src="assets/Haseed/ProfileEdit.svg"></ion-icon>
                <ion-label color="primary">
                  <p class="link text-large">{{ 'EDIT' | translate }}</p>
                </ion-label>
              </div>

            </section> -->

            <ion-item lines="none">
              <ion-avatar class="profile-avatar" slot="start">
                <img src-fallback=" ./assets/imgs/avatar.png" [src]="user?.attributes.photo?.url()" />
              </ion-avatar>
              <ion-label>
                <h3>
                  {{ user?.attributes.name }}
                </h3>
                <h5>{{ user?.attributes.phone }}</h5>
                <h5 *ngIf="isGuest">
                  {{ 'GUEST' | translate }}
                </h5>
              </ion-label>
              <div class="profile-edit-container" (click)="onPresentEditModal()" *ngIf="user" slot="end">
                <ion-icon src="assets/Haseed/ProfileEdit.svg"></ion-icon>
                <ion-label color="primary">
                  <p class="link">{{ 'EDIT' | translate }}</p>
                </ion-label>
              </div>
              <!-- <div *ngIf="!user || isGuest" slot="end">
                <ion-button class="ion-no-margin" style="margin-bottom: 2px;" size="small" expand="block" color="primary"
                  (click)="onPresentSignUpModal()" *ngIf="!user || isGuest">
                  {{ 'SIGN_UP' | translate }}
                </ion-button>
                <ion-button class="ion-no-margin" size="small" expand="block" color="primary"
                  (click)="onPresentSignInModal()" *ngIf="!user || isGuest">
                  {{ 'LOGIN' | translate }}
                </ion-button>
              </div> -->
            </ion-item>
          </div>

          <div class="profile-page-container" style="direction: ltr !important;" >
            <ion-item lines="none">
              <ion-toggle (ionChange)="onChangeIsPushEnabled($event)" slot="start" color="primary"
                [(ngModel)]="preference.isPushEnabled">
              </ion-toggle>
              <ion-text slot="end" style="color:#999999;" >{{ 'NOTIFICATION' | translate}}</ion-text>
            </ion-item>
          </div>



          <ion-list class="ion-no-padding profilelist">
            <ion-item color="light" class="itemheightmin" (click)="goToOrdersPage()" >
              <ion-icon slot="start" class="profileiconitem" src="assets/Haseed/AccountOrders.svg"></ion-icon>
              <ion-label>
                <p class="link text-large txt-size">{{ 'MY_ORDERS' | translate }}</p>
              </ion-label>
              <ion-icon name="chevron-forward" style="direction: ltr !important;margin-left: 0px; font-size: 18px;  --ion-color-base: #bebebe !important;"  slot="end" color="dark"></ion-icon>
            </ion-item>
            <!-- <ion-item color="light" (click)="goTo('payment')">
              <ion-icon name="card" slot="start" color="primary"></ion-icon>
              <ion-label>
                <p class="link text-large">{{ 'PAYMENT' | translate }}</p>
              </ion-label>
              <ion-icon name="chevron-forward" style="direction: ltr !important;"  slot="end" color="dark"></ion-icon>
            </ion-item>
            <ion-item color="light" (click)="goTo('addresses')">
              <ion-icon name="pin" slot="start" color="primary"></ion-icon>
              <ion-label>
                <p class="link text-large">{{ 'ADDRESSES' | translate }}</p>
              </ion-label>
              <ion-icon name="chevron-forward" style="direction: ltr !important;"  slot="end" color="dark"></ion-icon>
            </ion-item> -->
            <ion-item color="light" class="itemheightmin" (click)="goTo('favorites')">
              <ion-icon slot="start" class="profileiconitem" src="assets/Haseed/AccountFav.svg"></ion-icon>
              <ion-label>
                <p class="link text-large txt-size">{{ 'FAVORITES' | translate }}</p>
              </ion-label>
              <ion-icon name="chevron-forward" style="direction: ltr !important;margin-left: 0px; font-size: 18px;  --ion-color-base: #bebebe !important;"  slot="end" color="dark"></ion-icon>
            </ion-item>
            <!-- <ion-item color="light" (click)="onPresentChangePasswordModal()" *ngIf="user && !user.attributes.authData">
              <ion-icon name="lock-closed" slot="start" color="primary"></ion-icon>
              <ion-label>
                <p class="link text-large">{{ 'CHANGE_PASSWORD' | translate }}</p>
              </ion-label>
              <ion-icon name="chevron-forward" style="direction: ltr !important;"  slot="end" color="dark"></ion-icon>
            </ion-item> -->
            <!-- <ion-item color="light" (click)="onPresentEditModal()" *ngIf="user && !isGuest">
              <ion-icon name="create" slot="start" color="primary"></ion-icon>
              <ion-label>
                <p class="link text-large">{{ 'EDIT_PROFILE' | translate }}</p>
              </ion-label>
              <ion-icon name="chevron-forward" style="direction: ltr !important;"  slot="end" color="dark"></ion-icon>
            </ion-item> -->
            <!-- <ion-item color="light" class="itemheightmin" (click)="onPresentSettingsModal()">
              <ion-icon name="cog" slot="start"  class="profileiconitemsettings"></ion-icon>
              <ion-label>
                <p class="link text-large txt-size">{{ 'SETTINGS' | translate }}</p>
              </ion-label>
              <ion-icon name="chevron-forward" style="direction: ltr !important; margin-left: 0px; font-size: 18px;  --ion-color-base: #bebebe !important;"  slot="end" color="dark"></ion-icon>
            </ion-item> -->
            <ion-item lines="none" color="light" class="itemheightmin" (click)="goTo('notifications')" *ngIf="user">
              <ion-icon slot="start" class="profileiconitem" src="assets/Haseed/AccountNotifications.svg"></ion-icon>
              <ion-label>
                <p class="link text-large txt-size">{{ 'NOTIFICATION' | translate }}</p>
              </ion-label>
              <ion-icon name="chevron-forward" style="direction: ltr !important;margin-left: 0px; font-size: 18px;  --ion-color-base: #bebebe !important;"  slot="end" color="dark"></ion-icon>
            </ion-item>
            <ion-item lines="none" color="light" class="itemheightmin" (click)="goTo('help')">
              <ion-icon slot="start" class="profileiconitem" src="assets/Haseed/AccountHelp.svg"></ion-icon>
              <ion-label>
                <p class="link text-large txt-size">{{ 'HELP' | translate }}</p>
              </ion-label>
              <ion-icon name="chevron-forward" style="direction: ltr !important;margin-left: 0px; font-size: 18px;  --ion-color-base: #bebebe !important;" slot="end" color="dark"></ion-icon>
            </ion-item>
            <!-- <ion-item lines="none" color="light" (click)="onLogout()" *ngIf="user && !isGuest">
              <ion-icon slot="start" src="assets/Haseed/AccountLogout.svg"></ion-icon>
              <ion-label>
                <p class="link text-large">{{ 'LOGOUT' | translate }}</p>
              </ion-label>
              <ion-icon name="chevron-forward" style="direction: ltr !important;" slot="end" color="dark"></ion-icon>
            </ion-item> -->
          </ion-list>

        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>