// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~@angular/cdk/overlay-prebuilt.css";
@import "~@ngx-share/button/themes/default/default-theme";

@import "~ngx-bar-rating/themes/br-stars-theme";

@import "~animate.css/animate.min.css";

@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Cairo";
  src: url("./assets/fonts/Cairo-SemiBold.ttf");
}

@font-face {
  font-family: "Cairo";
  src: url("./assets/fonts/Cairo-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Lobster";
  src: url("./assets/fonts/Lobster-Regular.ttf");
}

.lobster {
  font-family: "Lobster", "Quicksand", "Cairo", serif;
}

/* hide scrollbar chrome */
* ::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Cairo";
  user-select: text;
}

ion-menu .content {
  background: var(--ion-color-light);
}

*:focus {
  outline: none !important;
}

.scrollable {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
}

.hidden {
  visibility: hidden;
}

.relative {
  position: relative;
}

.no-flex {
  flex: none !important;
}

.logo {
  display: flex;
  align-items: center;

  img {
    display: block;
    height: 35px;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    color: var(--ion-color-dark);
    margin: 0 6px;
  }
}

.z-index-10 {
  z-index: 10;
}

.static {
  position: static !important;
}

.line {
  background: var(--ion-color-light);
  height: 1px;
  margin: 8px 0;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.block {
  display: block;
}

.bg-light {
  background: var(--ion-color-light);
}

.border-light {
  border: 1px solid var(--ion-color-light);
}

.menu-toolbar {
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  ion-avatar {
    img {
      display: inline-block;
      max-width: 8.6rem;
      max-height: 8.6rem;
      border-radius: 4.8rem;
      border: 2px solid var(--ion-color-light);
    }
  }
}

.bold {
  font-weight: bold !important;
}

.inline-block {
  display: inline-block !important;
}

.display-inherit {
  display: inherit !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ng-lazyloaded,
.fade-in {
  animation: fadeIn;
  animation-duration: 1s;
}

.fade-out {
  animation: fadeOut;
  animation-duration: 200ms;
}

.swal-overlay--show-modal,
.swal-modal {
  animation: none !important;
}

.full-width {
  width: 100% !important;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.autocomplete {
  padding: 0;
  border: 1px solid var(--ion-color-light-shade);
  margin: 0 1px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

star-rating {
  &.space-around div {
    display: flex;
    justify-content: space-around;
  }

  .star {
    opacity: 0.3;

    &.on {
      opacity: 1;
    }
  }
}

ion-grid[fixed] {
  min-height: 100%;
}

.circle:not(.loader) {
  border-radius: 50%;
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border: 3px solid #ddd;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .circle-inner {
    padding: px;
    flex: 1;
    min-width: 0;

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  p {
    color: var(--ion-color-light);
    font-size: 12px;
  }
}

.margin-6 {
  margin: 6px 0 !important;
}

.margin-6-horizontal {
  margin: 0 6px !important;
}

$primary-color: var(--ion-color-primary);

.primary-bg {
  background: var(--ion-color-primary);
}

.dark-bg {
  background: var(--ion-color-dark);
}

.light-bg {
  background-color: var(--ion-color-light);
}

.divider {
  height: 1px;
  background: var(--ion-color-light-shade);
  border-bottom: 1px solid var(--ion-color-light-shade);
}

.center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis !important;
  height: 36px !important;
  white-space: normal !important;
  line-height: 18px !important;
  transition: all 0.2s ease-in-out;
}

.text-small {
  font-size: 12px !important;
}

.text-medium {
  font-size: 13px !important;
}

.text-normal {
  font-size: 16px !important;
}

.text-large {
  font-size: 18px !important;
}

.text-xlarge {
  font-size: 24px !important;
}

.ion-activatable {
  position: relative;
  overflow: hidden;
  --ripple-color: rgba(0, 0, 0, 0.5);
}

.shadow {
  box-shadow: 0px 4px 15px rgba(80, 80, 80, 0.1) !important;
}

.radius {
  border-radius: 6px;
}

.no-radius {
  border-radius: 0 !important;
}

.no-shadow {
  box-shadow: none !important;
}

.no-margin {
  margin: 0 !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.hide {
  display: none;
}

.label[stacked] {
  margin-bottom: 6px !important;
}

.flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-space-around {
  justify-content: space-around !important;
}

ion-toolbar ion-searchbar {
  height: 35px !important;
}

.plt-ios {
  ion-toolbar {
    --min-height: 60px;
  }

  .select-popover {
    --width: 230px;
  }
}

.plt-desktop {
  .link:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .hover:hover {
    --background: var(--ion-color-light-tint);
    background: var(--ion-color-light-tint);
  }
}

$grid-breakpoints-lg: 992px;

@media (min-width: $grid-breakpoints-lg) {
  ion-header ion-toolbar[fixed],
  ion-tabs ion-tab-bar[fixed],
  ion-footer ion-toolbar[fixed] {
    margin: 0;
    padding-right: calc((100% - #{$grid-breakpoints-lg}) / 2);
    padding-left: calc((100% - #{$grid-breakpoints-lg}) / 2);
  }

  ion-tabs ion-tab-bar {
    justify-content: start;

    ion-tab-button {
      justify-content: start;
    }
  }

  ion-header ion-toolbar {
    --min-height: 70px;

    .logo {
      img {
        height: 50px;
      }
    }
  }

  .circle {
    border-radius: 6px !important;
    width: 150px !important;
    height: 150px !important;
  }
}

// Fix lighbox display on iphone x
:root {
  lightbox gallery {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

    .g-btn-close {
      padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    }
  }
}

.StripeElement {
  background: #f4f5f8 !important;
  padding: 16px !important;
  margin: 0 5px;
}

.swal2-container {
  .swal2-icon {
    .swal2-success-line-tip {
      background-color: var(--ion-color-medium-shade) !important;
    }

    .swal2-success-line-long {
      background-color: var(--ion-color-medium-shade) !important;
    }

    .swal2-success-ring {
      border-color: var(--ion-color-medium-tint) !important;
    }
  }

  .swal2-actions {
    text-align: center;

    button.swal2-confirm {
      font-weight: bold;
    }

    button.swal2-styled {
      margin-bottom: 16px;
      width: 100%;
    }
  }

  .swal2-styled {
    &.swal2-confirm {
      background-color: var(--ion-color-primary);
    }

    &.swal2-cancel {
      background-color: var(--ion-color-medium);
    }

    &:focus {
      box-shadow: none;
    }
  }

  @media (min-width: 576px) {
    .swal2-actions {
      button.swal2-styled {
        margin-bottom: 0;
        width: auto;
      }
    }
  }
}

.alert {
  position: relative;
  padding: 16px;
  margin: 8px 16px;
  border: 1px solid transparent;
  border-radius: 6px;

  &.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
}

@media (min-width: 0px) {
  .hide-xs-up {
    display: none;
  }

  .show-xs-up {
    display: block;
  }
}

@media (min-width: 576px) {
  .hide-sm-up {
    display: none;
  }

  .show-sm-up {
    display: block;
  }
}

@media (min-width: 768px) {
  .hide-md-up {
    display: none;
  }

  .show-md-up {
    display: block;
  }
}

@media (min-width: 992px) {
  .hide-lg-up {
    display: none;
  }

  .show-lg-up {
    display: block;
  }
}

@media (min-width: 1200px) {
  .hide-xl-up {
    display: none;
  }

  .show-xl-up {
    display: block;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .hide-xs-only {
    display: none;
  }

  .show-xs-only {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .hide-sm-only {
    display: none;
  }

  .show-sm-only {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .show-md-only {
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .show-lg-only {
    display: block;
  }
}

app-shop-item {
  bar-rating {
    .br-stars {
      margin: 0 !important;

      .br-units {
        justify-content: center;
      }

      .br-unit {
        width: 12px !important;
        height: 12px !important;
      }
    }
  }
}

page-item,
page-review-list {
  bar-rating {
    .br-stars {
      margin: 8px 0 !important;
    }
    .br-unit {
      width: 16px !important;
      height: 16px !important;
    }
  }
}

page-review-add {
  bar-rating {
    .br-stars {
      margin: 8px 0 !important;
    }

    .br-units {
      justify-content: space-between;
    }

    .br-unit {
      width: 48px !important;
      height: 48px !important;
    }
  }
}

.ios {
  ion-toolbar {
    --min-height: 60px;
  }

  .tabs-top {
    transform: translateY(50px) !important;
  }

  .tabs-bottom {
    transform: translateY(-50px) !important;
  }
}

.md {
  .tabs-top {
    transform: translateY(56px) !important;
  }

  .tabs-bottom {
    transform: translateY(-56px) !important;
  }
}

.opacity-medium {
  opacity: 0.5;
}

.all-categories {
  p {
    margin: 0;
    margin-top: 5px;
  }

  .vl-item {
    width: 73px !important;
    height: 73px !important;
    padding: 1px;
    background-clip: content-box; /* support: IE9+ */
    background-color: #17d35d;
  }

  .all-category-icon {
    zoom: 2.7;
    transform: translateY(5px);
  }

  .ac-item.circle:not(.loader) {
    width: 73px !important;
    height: 73px !important;
    padding: 1px;
    background-clip: content-box; /* support: IE9+ */
    background-color: #17d35d;
    // box-shadow: 0px 10px 15px rgba(0,0,0,0.05);
  }
}


* {
  letter-spacing: -0.5px !important;
}

.tab-selected {
  color: #26d667 !important;
  font-weight: bold !important;
}

.action-sheet-button.sc-ion-action-sheet-ios {
  font-size: 15px !important;

}

.action-sheet-button.sc-ion-action-sheet-ios {
  color: #262626 !important;
}

.popover-content.sc-ion-popover-ios {
  width: 85%;
  right: 8%;
}

.toast-wrapper, ion-toast {
  color: white !important;
}

* {
  letter-spacing: -0.2px !important;
}

lightbox#lightbox-itemGallery {
  direction: ltr !important;
}
#lightbox-itemGallery {
  direction: ltr !important;
}
lightbox {
  direction: ltr !important;
}


.seperatorcont {
    width: 90% !important;
    height: 25px;
    /* background-color: #F2F2F2 !important; */
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    margin: 0 auto !important;
}

.seperatordiv {
  width: 100% !important;
  height: 4px;
  background-color: #F2F2F2 !important;
  position: relative;
  top: 12px;
}